@import '@/styles/base/_variables';

.anchor0 {
  color: transparent;
}

.anchor1 {
  text-decoration: underline;
  color: $themeOne;
  cursor: pointer;

  &:hover {
    color: $themeFour;
  }
}

.anchor2 {
  padding: 1rem;
  color: $themeTwo;

  &:hover {
    color: $fadedColor;
  }
}

.anchor3 {
  padding: 6px 0;
  background: linear-gradient($themeTwo 0 0) center bottom / 100% 2px no-repeat;
  background-size: 0% 2px;
  transition: all 0.3s ease-in-out;
  color: black;

  &:hover {
    background-size: 100% 2px;
    color: black;
  }
}

.anchor4 {
  padding: 6px 0;
  background: linear-gradient($themeTwo 0 0) center bottom / 100% 2px no-repeat;
  background-size: 0% 2px;
  transition: all 0.3s ease-in-out;
  color: white;

  &:hover {
    background-size: 100% 2px;
    color: white;
  }
}

.anchor5 {
  text-decoration: underline;
  color: $themeTwo;

  &:hover {
    color: $themeOne;
  }
}

.anchor6 {
  padding: 1rem;
  color: white;

  &:hover {
    color: white;
  }
}
