.elementor-91601 .elementor-element.elementor-element-278e0457 {
  margin-top: 50px;
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-41b75dba {
  --spacer-size: 15px;
}
.elementor-91601
  .elementor-element.elementor-element-7e0a90dd
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-7e0a90dd > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-7e0a90dd
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601 .elementor-element.elementor-element-7b5b9898 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-91601
  .elementor-element.elementor-element-2069d63b
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601
  .elementor-element.elementor-element-30401c2
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-91601 .elementor-element.elementor-element-30401c2 {
  padding: 50px 0 25px 0;
}
.elementor-91601 .elementor-element.elementor-element-68f5385d {
  text-align: center;
}
.elementor-91601 .elementor-element.elementor-element-68f5385d .elementor-heading-title {
  color: #595959;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
.elementor-91601 .elementor-element.elementor-element-464a2e84 {
  text-align: center;
}
.elementor-91601 .elementor-element.elementor-element-464a2e84 .elementor-heading-title {
  color: #000;
  line-height: 1.2em;
}
.elementor-91601 .elementor-element.elementor-element-464a2e84 > .elementor-widget-container {
  margin: -10px 0 0 0;
}
.elementor-91601
  .elementor-element.elementor-element-f2a930f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-91601
  .elementor-element.elementor-element-f2a930f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-91601 .elementor-element.elementor-element-f2a930f {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 10px;
}
.elementor-91601 .elementor-element.elementor-element-f2a930f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-5b3248c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-266ae997 > .elementor-widget-container {
  margin: 20px 0 0 0;
}
.elementor-91601 .elementor-element.elementor-element-70ac2cbe .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-91601 .elementor-element.elementor-element-70ac2cbe > .elementor-widget-container {
  margin: 15px 0 15px 0;
}
.elementor-91601 .elementor-element.elementor-element-695f30ea > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-1d7fdcec {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
  --e-share-buttons-primary-color: #7a7a7a;
}
.elementor-91601 .elementor-element.elementor-element-1d7fdcec .elementor-share-btn {
  border-width: 2px;
}
.elementor-91601 .elementor-element.elementor-element-1d7fdcec > .elementor-widget-container {
  margin: 15px 0 0 0;
  padding: 0;
}
.elementor-91601
  .elementor-element.elementor-element-77800229:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-91601
  .elementor-element.elementor-element-77800229
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-91601 .elementor-element.elementor-element-77800229 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 10px;
}
.elementor-91601 .elementor-element.elementor-element-77800229 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-19b09820
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-2cf39db7 > .elementor-widget-container {
  margin: 20px 0 0 0;
}
.elementor-91601 .elementor-element.elementor-element-44b741c2 > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-6deddf41 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-91601 .elementor-element.elementor-element-6deddf41 > .elementor-widget-container {
  margin: 15px 0 15px 0;
}
.elementor-91601 .elementor-element.elementor-element-13b3a9ab > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-2558d925 {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
  --e-share-buttons-primary-color: #7a7a7a;
}
.elementor-91601 .elementor-element.elementor-element-2558d925 .elementor-share-btn {
  border-width: 2px;
}
.elementor-91601 .elementor-element.elementor-element-2558d925 > .elementor-widget-container {
  margin: 15px 0 0 0;
  padding: 0;
}
.elementor-91601
  .elementor-element.elementor-element-b46e0a7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-91601
  .elementor-element.elementor-element-b46e0a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-91601 .elementor-element.elementor-element-b46e0a7 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 10px;
}
.elementor-91601 .elementor-element.elementor-element-b46e0a7 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-2d2d488b
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-71b4bad1 {
  text-align: center;
}
.elementor-91601 .elementor-element.elementor-element-71b4bad1 .elementor-heading-title {
  font-family: 'Poppins', Sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 1em;
}
.elementor-91601 .elementor-element.elementor-element-71b4bad1 > .elementor-widget-container {
  margin: 15px 0 10px 0;
}
.elementor-91601 .elementor-element.elementor-element-21803d72 .cart button {
  font-size: 17px;
  border-radius: 3px 3px 3px 3px;
  padding: -5px 20px -5px 20px;
  background-color: #f5891f;
  transition: all 0.2s;
}
.elementor-91601 .elementor-element.elementor-element-21803d72 .quantity .qty {
  transition: all 0.2s;
}
.elementor-91601 .elementor-element.elementor-element-21803d72 > .elementor-widget-container {
  margin: 0 0 15px 0;
}
.elementor-91601 .elementor-element.elementor-element-1f10c0ef > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-512f30d4 > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-192b7486 {
  font-family: 'Poppins', Sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.elementor-91601 .elementor-element.elementor-element-6e71557a > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-65f80309 > .elementor-widget-container {
  margin: 0;
}
.elementor-91601 .elementor-element.elementor-element-7ff7a508 {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
  --e-share-buttons-primary-color: #7a7a7a;
}
.elementor-91601 .elementor-element.elementor-element-7ff7a508 .elementor-share-btn {
  border-width: 2px;
}
.elementor-91601 .elementor-element.elementor-element-7ff7a508 > .elementor-widget-container {
  margin: 15px 0 0 0;
  padding: 0;
}
.elementor-91601
  .elementor-element.elementor-element-3e46c13
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-91601
  .elementor-element.elementor-element-3e46c13:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-91601
  .elementor-element.elementor-element-3e46c13
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-91601 .elementor-element.elementor-element-3e46c13 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 50px 0;
}
.elementor-91601 .elementor-element.elementor-element-3e46c13 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-3de0137d
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: -30px;
}
.elementor-91601 .elementor-element.elementor-element-1a5045d.elementor-wc-products ul.products {
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.elementor-91601
  .elementor-element.elementor-element-1a5045d.elementor-wc-products
  ul.products
  li.product {
  text-align: center;
}
.elementor-91601
  .elementor-element.elementor-element-1a5045d.elementor-wc-products
  ul.products
  li.product
  .button {
  color: #fff;
  background-color: #f5891f;
}
.elementor-91601
  .elementor-element.elementor-element-1a5045d.elementor-wc-products
  ul.products
  li.product
  span.onsale {
  display: block;
}
.elementor-91601 .elementor-element.elementor-element-1a5045d > .elementor-widget-container {
  padding: 20px 20px 20px 20px;
}
.elementor-91601 .elementor-element.elementor-element-68d797c0 {
  padding: 0 0 50px 0;
}
.elementor-91601 .elementor-element.elementor-element-3e70cb30 {
  text-align: left;
}
.elementor-91601 .elementor-element.elementor-element-3e70cb30 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-91601 .elementor-element.elementor-element-61101409 {
  text-align: left;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-91601 .elementor-element.elementor-element-44c069f4 {
  text-align: left;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-91601 .elementor-element.elementor-element-5d7731cc.elementor-wc-products ul.products {
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.elementor-91601
  .elementor-element.elementor-element-5d7731cc.elementor-wc-products
  ul.products
  li.product {
  text-align: center;
  padding: 5px 5px 20px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.elementor-91601
  .elementor-element.elementor-element-5d7731cc.elementor-wc-products
  ul.products
  li.product
  .button {
  color: #fff;
  background-color: #f5891f;
}
.elementor-91601
  .elementor-element.elementor-element-5d7731cc.elementor-wc-products
  .added_to_cart {
  color: #f5891f;
}
.elementor-91601
  .elementor-element.elementor-element-5d7731cc.elementor-wc-products
  ul.products
  li.product
  span.onsale {
  display: block;
}
.elementor-91601
  .elementor-element.elementor-element-235f7500:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-91601
  .elementor-element.elementor-element-235f7500
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-91601 .elementor-element.elementor-element-235f7500 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px 0 50px 0;
}
.elementor-91601 .elementor-element.elementor-element-235f7500 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91601
  .elementor-element.elementor-element-3d3fc4bd
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-7bc1fd0e > .elementor-widget-container {
  margin: 0 0 25px 0;
}
.elementor-91601 .elementor-element.elementor-element-36a25f96 {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-91601 .elementor-element.elementor-element-36a25f96 > .elementor-widget-container {
  margin: 25px 25px 25px 25px;
}
.elementor-91601 .elementor-element.elementor-element-1e0e0490 {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-91601 .elementor-element.elementor-element-1e0e0490 > .elementor-widget-container {
  margin: 10px 0 0 0;
}
.elementor-91601 .elementor-element.elementor-element-73dfde2b {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-91601 .elementor-element.elementor-element-5e87b690 > .elementor-widget-container {
  margin: 15px 0 0 0;
}
.elementor-91601 .elementor-element.elementor-element-875025d {
  padding: 50px 0 25px 0;
}
.elementor-91601 .elementor-element.elementor-element-1cf1ba7d {
  text-align: left;
}
.elementor-91601 .elementor-element.elementor-element-1cf1ba7d .elementor-heading-title {
  color: #7a7a7a;
}
.elementor-91601 .elementor-element.elementor-element-8da603a.elementor-wc-products ul.products {
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}
.elementor-91601
  .elementor-element.elementor-element-8da603a.elementor-wc-products
  ul.products
  li.product {
  text-align: center;
  padding: 5px 5px 20px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.elementor-91601
  .elementor-element.elementor-element-8da603a.elementor-wc-products
  ul.products
  li.product
  .button {
  color: #0fafa3;
  background-color: #fff;
  text-decoration: underline;
}
.elementor-91601 .elementor-element.elementor-element-8da603a.elementor-wc-products .added_to_cart {
  color: #f5891f;
}
.elementor-91601
  .elementor-element.elementor-element-8da603a.elementor-wc-products
  ul.products
  li.product
  span.onsale {
  display: block;
}
.elementor-91601 .elementor-element.elementor-element-8da603a > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-91601 .elementor-element.elementor-element-307f8971 {
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
}
.elementor-91601 .elementor-element.elementor-element-508edd05 {
  text-align: left;
}
.elementor-91601 .elementor-element.elementor-element-508edd05 .elementor-heading-title {
  color: #7a7a7a;
}
.elementor-91601
  .elementor-element.elementor-element-467ce113
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-91601 .elementor-element.elementor-element-467ce113:after {
  content: '0.66';
}
.elementor-91601
  .elementor-element.elementor-element-467ce113
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-91601 .elementor-element.elementor-element-467ce113 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-91601 .elementor-element.elementor-element-467ce113 .elementor-post__text {
  margin-top: 20px;
}
.elementor-91601 .elementor-element.elementor-element-467ce113 .elementor-post__badge {
  right: 0;
}
.elementor-91601
  .elementor-element.elementor-element-467ce113
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-91601 .elementor-element.elementor-element-67e938c2 {
  --spacer-size: 75px;
}
@media (max-width: 1024px) {
  .elementor-91601 .elementor-element.elementor-element-68f5385d .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-91601 .elementor-element.elementor-element-464a2e84 .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-91601 .elementor-element.elementor-element-1d7fdcec {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-2558d925 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-7ff7a508 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-1a5045d.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-91601 .elementor-element.elementor-element-5d7731cc.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-91601 .elementor-element.elementor-element-8da603a.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}
@media (min-width: 768px) {
  .elementor-91601 .elementor-element.elementor-element-3b2c5fea {
    width: 70%;
  }
  .elementor-91601 .elementor-element.elementor-element-4e1fc34 {
    width: 29.956%;
  }
  .elementor-91601 .elementor-element.elementor-element-7e0a90dd {
    width: 70%;
  }
  .elementor-91601 .elementor-element.elementor-element-2069d63b {
    width: 30%;
  }
  .elementor-91601 .elementor-element.elementor-element-7fcf9b0 {
    width: 70%;
  }
  .elementor-91601 .elementor-element.elementor-element-761c13c5 {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .elementor-91601 .elementor-element.elementor-element-30401c2 {
    padding: 5px 10px 5px 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-1d7fdcec {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-2558d925 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-7ff7a508 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-1a5045d.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-91601 .elementor-element.elementor-element-61101409 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-91601 .elementor-element.elementor-element-61101409 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-44c069f4 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-91601 .elementor-element.elementor-element-44c069f4 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-5d7731cc.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-91601
    .elementor-element.elementor-element-5d7731cc.elementor-wc-products
    ul.products
    li.product {
    text-align: center;
  }
  .elementor-91601 .elementor-element.elementor-element-5d7731cc > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-91601 .elementor-element.elementor-element-235f7500 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-91601 .elementor-element.elementor-element-36a25f96 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-91601 .elementor-element.elementor-element-36a25f96 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-91601 .elementor-element.elementor-element-1e0e0490 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-91601 .elementor-element.elementor-element-73dfde2b {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-91601 .elementor-element.elementor-element-8da603a.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-91601
    .elementor-element.elementor-element-467ce113
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-91601 .elementor-element.elementor-element-467ce113:after {
    content: '0.5';
  }
}
#wc-stripe-payment-request-button-separator {
  display: none !important;
}
.elementor-91601 .elementor-element.elementor-element-1f10c0ef {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-512f30d4 {
  margin-bottom: 0;
}
.elementor-91601 .elementor-element.elementor-element-512f30d4 progress {
  width: 90%;
}
.elementor-91601 .elementor-element.elementor-element-6e71557a {
  margin-bottom: 0;
}
.woocommerce ul.products[class*='columns-'] li.product,
.woocommerce-page ul.products[class*='columns-'] li.product {
  width: auto;
}
