.elementor-82170 .elementor-element.elementor-element-2280313f > .elementor-container {
  min-height: 120px;
}
.elementor-82170
  .elementor-element.elementor-element-2280313f
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-82170
  .elementor-element.elementor-element-2280313f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-82170
  .elementor-element.elementor-element-2280313f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-82170 .elementor-element.elementor-element-2280313f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-82170 .elementor-element.elementor-element-2280313f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-82170 .elementor-element.elementor-element-41831b44 {
  text-align: left;
}
.elementor-82170 .elementor-element.elementor-element-41831b44 .elementor-heading-title {
  color: #000;
  font-size: 40px;
}
.elementor-82170 .elementor-element.elementor-element-5eeb8dd {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
}
.elementor-82170
  .elementor-element.elementor-element-65538a99
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-82170 .elementor-element.elementor-element-65538a99 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.5 * 100%);
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee:after {
  content: '0.5';
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee .elementor-post__text {
  padding: 0 20px;
  margin-top: 20px;
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee .elementor-post__meta-data {
  padding: 10px 20px;
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee .elementor-post__avatar {
  padding-right: 20px;
  padding-left: 20px;
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee .elementor-post__badge {
  right: 0;
}
.elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-82170 .elementor-element.elementor-element-76e9f1ee .elementor-pagination {
  text-align: center;
}
body:not(.rtl)
  .elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-pagination
  .page-numbers:not(:first-child) {
  margin-left: calc(10px / 2);
}
body:not(.rtl)
  .elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-pagination
  .page-numbers:not(:last-child) {
  margin-right: calc(10px / 2);
}
body.rtl
  .elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-pagination
  .page-numbers:not(:first-child) {
  margin-right: calc(10px / 2);
}
body.rtl
  .elementor-82170
  .elementor-element.elementor-element-76e9f1ee
  .elementor-pagination
  .page-numbers:not(:last-child) {
  margin-left: calc(10px / 2);
}
.elementor-82170
  .elementor-element.elementor-element-458267cd:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-82170
  .elementor-element.elementor-element-458267cd
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eee;
}
.elementor-82170 .elementor-element.elementor-element-458267cd > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 0 0 40px;
  --e-column-margin-right: 0;
  --e-column-margin-left: 40px;
}
.elementor-82170
  .elementor-element.elementor-element-458267cd
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-82170
  .elementor-element.elementor-element-458267cd
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 30px 30px 30px 30px;
}
.elementor-82170 .elementor-element.elementor-element-30dd530b {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-82170 .elementor-element.elementor-element-30dd530b .elementor-post__title,
.elementor-82170 .elementor-element.elementor-element-30dd530b .elementor-post__title a {
  color: #54595f;
  font-size: 18px;
}
.elementor-82170 .elementor-element.elementor-element-30dd530b .elementor-post__title {
  margin-bottom: 13px;
}
.elementor-82170 .elementor-element.elementor-element-30dd530b > .elementor-widget-container {
  margin: 0;
}
.elementor-82170 .elementor-element.elementor-element-276f449 {
  --spacer-size: 50px;
}
@media (max-width: 1024px) {
  .elementor-82170 .elementor-element.elementor-element-5eeb8dd {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-82170 .elementor-element.elementor-element-65538a99 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-82170 .elementor-element.elementor-element-458267cd > .elementor-element-populated {
    margin: 0 0 0 30px;
    --e-column-margin-right: 0;
    --e-column-margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .elementor-82170 .elementor-element.elementor-element-31e4cb69 {
    width: 67%;
  }
  .elementor-82170 .elementor-element.elementor-element-6b39b63 {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .elementor-82170 .elementor-element.elementor-element-41831b44 {
    text-align: center;
  }
  .elementor-82170 .elementor-element.elementor-element-5eeb8dd {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-82170 .elementor-element.elementor-element-65538a99 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-82170
    .elementor-element.elementor-element-76e9f1ee
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-82170 .elementor-element.elementor-element-76e9f1ee:after {
    content: '0.5';
  }
  .elementor-82170 .elementor-element.elementor-element-458267cd > .elementor-element-populated {
    margin: 20px 0 0 0;
    --e-column-margin-right: 0;
    --e-column-margin-left: 0;
  }
  .elementor-82170
    .elementor-element.elementor-element-458267cd
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
  }
}
