.elementor-81139
  .elementor-element.elementor-element-5d34d04b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-81139
  .elementor-element.elementor-element-5d34d04b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-4666813);
}
.elementor-81139 .elementor-element.elementor-element-5d34d04b {
  border-style: solid;
  border-width: 3px 0 0 0;
  border-color: var(--e-global-color-4666813);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-81139 .elementor-element.elementor-element-5d34d04b > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-81139 .elementor-element.elementor-element-1e52ec17 > .elementor-element-populated {
  margin: 0 20% 0 0;
  --e-column-margin-right: 20%;
  --e-column-margin-left: 0;
}
.elementor-81139 .elementor-element.elementor-element-4afaed51 {
  color: rgba(255, 255, 255, 0.79);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 9px;
  --grid-row-gap: 0;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-widget-container {
  text-align: center;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon {
  background-color: var(--e-global-color-52af2de2);
  --icon-padding: 0.6em;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon i {
  color: var(--e-global-color-5c77a7d4);
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon svg {
  fill: var(--e-global-color-5c77a7d4);
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon:hover {
  background-color: #fff;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon:hover i {
  color: #001c38;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-social-icon:hover svg {
  fill: #001c38;
}
.elementor-81139 .elementor-element.elementor-element-3a36c774 > .elementor-widget-container {
  padding: 5px 0 0 0;
}
.elementor-81139 .elementor-element.elementor-element-7519f0f6 .elementor-heading-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.elementor-81139 .elementor-element.elementor-element-7519f0f6 > .elementor-widget-container {
  margin: 0 0 0 44px;
}
.elementor-81139 .elementor-element.elementor-element-4ee789f1 {
  margin-top: 30px;
  margin-bottom: 0;
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(14px / 2);
  margin-left: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-14px / 2);
  margin-left: calc(-14px / 2);
}
body.rtl
  .elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-14px / 2);
}
body:not(.rtl)
  .elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-14px / 2);
}
.elementor-81139 .elementor-element.elementor-global-81101 .elementor-icon-list-icon i {
  color: rgba(0, 0, 0, 0.23);
}
.elementor-81139 .elementor-element.elementor-global-81101 .elementor-icon-list-icon svg {
  fill: rgba(0, 0, 0, 0.23);
}
.elementor-81139 .elementor-element.elementor-global-81101 {
  --e-icon-list-icon-size: 13px;
}
.elementor-81139 .elementor-element.elementor-global-81101 .elementor-icon-list-text {
  color: #fff;
  padding-left: 9px;
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #f5891f;
}
.elementor-81139
  .elementor-element.elementor-global-81101
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-81139 .elementor-element.elementor-global-81101 .elementor-icon-list-item > a {
  font-size: 13px;
  font-weight: normal;
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(14px / 2);
  margin-left: calc(14px / 2);
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-14px / 2);
  margin-left: calc(-14px / 2);
}
body.rtl
  .elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-14px / 2);
}
body:not(.rtl)
  .elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-14px / 2);
}
.elementor-81139 .elementor-element.elementor-global-81126 {
  --e-icon-list-icon-size: 14px;
}
.elementor-81139 .elementor-element.elementor-global-81126 .elementor-icon-list-text {
  color: #fff;
  padding-left: 9px;
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #f5891f;
}
.elementor-81139
  .elementor-element.elementor-global-81126
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-81139 .elementor-element.elementor-global-81126 .elementor-icon-list-item > a {
  font-size: 13px;
  font-weight: normal;
}
.elementor-81139 .elementor-element.elementor-element-4ca5d768 > .elementor-container {
  min-height: 50px;
}
.elementor-81139
  .elementor-element.elementor-element-4ca5d768
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-81139
  .elementor-element.elementor-element-4ca5d768:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-81139
  .elementor-element.elementor-element-4ca5d768
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-81139 .elementor-element.elementor-element-4ca5d768 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-81139 .elementor-element.elementor-element-4ca5d768 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-81139 .elementor-element.elementor-element-5fde5f04 {
  text-align: left;
}
.elementor-81139 .elementor-element.elementor-element-5fde5f04 .elementor-heading-title {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .elementor-81139 .elementor-element.elementor-element-2d362c41 {
    width: 40%;
  }
  .elementor-81139 .elementor-element.elementor-element-42f4b74d {
    width: 59.992%;
  }
}
@media (max-width: 1024px) {
  .elementor-81139 .elementor-element.elementor-element-5d34d04b {
    padding: 30px 20px 30px 20px;
  }
  .elementor-81139 .elementor-element.elementor-element-1e52ec17 > .elementor-element-populated {
    margin: 0 10% 0 0;
    --e-column-margin-right: 10%;
    --e-column-margin-left: 0;
  }
  .elementor-81139 .elementor-element.elementor-element-3a36c774 {
    --icon-size: 10px;
  }
  .elementor-81139
    .elementor-element.elementor-global-81101
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-81139 .elementor-element.elementor-global-81101 .elementor-icon-list-item > a {
    font-size: 13px;
  }
  .elementor-81139 .elementor-element.elementor-element-4ca5d768 {
    padding: 5px 20px 5px 20px;
  }
}
@media (max-width: 767px) {
  .elementor-81139 .elementor-element.elementor-element-5d34d04b {
    padding: 30px 20px 30px 20px;
  }
  .elementor-81139 .elementor-element.elementor-element-1e52ec17 {
    width: 100%;
  }
  .elementor-81139 .elementor-element.elementor-element-3a36c774 .elementor-widget-container {
    text-align: left;
  }
  .elementor-81139 .elementor-element.elementor-element-1abaed23 {
    width: 100%;
  }
  .elementor-81139 .elementor-element.elementor-element-1abaed23 > .elementor-element-populated {
    margin: 30px 0 0 0;
    --e-column-margin-right: 0;
    --e-column-margin-left: 0;
  }
  .elementor-81139 .elementor-element.elementor-element-2d362c41 {
    width: 50%;
  }
  .elementor-81139 .elementor-element.elementor-element-42f4b74d {
    width: 50%;
  }
  .elementor-81139 .elementor-element.elementor-element-5fde5f04 {
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-81139 .elementor-element.elementor-element-1e52ec17 {
    width: 33%;
  }
  .elementor-81139 .elementor-element.elementor-element-1abaed23 {
    width: 33%;
  }
}
