.elementor-90552 .elementor-element.elementor-element-4d26bd1d > .elementor-container {
  min-height: 600px;
}
.elementor-90552
  .elementor-element.elementor-element-4d26bd1d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-90552
  .elementor-element.elementor-element-4d26bd1d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2020/06/store_front_pic.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-90552 .elementor-element.elementor-element-4d26bd1d > .elementor-background-overlay {
  background-color: #0fafa3;
  opacity: 0.85;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-4d26bd1d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-90552
  .elementor-element.elementor-element-7288caeb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0 20px 0 0;
}
.elementor-90552 .elementor-element.elementor-element-29bfb32e {
  text-align: left;
}
.elementor-90552 .elementor-element.elementor-element-29bfb32e .elementor-heading-title {
  color: #fff;
  font-size: 54px;
}
.elementor-90552 .elementor-element.elementor-element-29bfb32e > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-90552 .elementor-element.elementor-element-73eab7a6 {
  text-align: left;
  color: #fff;
  font-size: 20px;
}
.elementor-90552 .elementor-element.elementor-element-73eab7a6 > .elementor-widget-container {
  padding: 0;
}
.elementor-90552 .elementor-element.elementor-element-0ae62fb {
  text-align: left;
  color: #fff;
  font-size: 20px;
}
.elementor-90552 .elementor-element.elementor-element-0ae62fb > .elementor-widget-container {
  padding: 0;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .e-form__buttons__wrapper__button-next {
  background-color: #f5891f;
  color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef .elementor-button[type='submit'] {
  background-color: #f5891f;
  color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-button[type='submit']
  svg
  * {
  fill: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-button[type='submit']:hover {
  color: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .elementor-button[type='submit']:hover
  svg
  * {
  fill: #fff;
}
.elementor-90552
  .elementor-element.elementor-element-12d04ef
  .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-90552 .elementor-element.elementor-element-12d04ef > .elementor-widget-container {
  margin: 100px 0 0 0;
  padding: 5px 5px 5px 5px;
}
.elementor-90552
  .elementor-element.elementor-element-1380a8ef
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-90552 .elementor-element.elementor-element-1380a8ef {
  padding: 25px 0 50px 0;
}
.elementor-90552 .elementor-element.elementor-element-34af858 {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-34af858 .elementor-heading-title {
  color: #000;
  font-size: 55px;
  font-weight: 600;
}
.elementor-90552 .elementor-element.elementor-element-595fa936 {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-90552 .elementor-element.elementor-element-3626769c .elementor-testimonial__text {
  font-size: 14px;
}
.elementor-90552 .elementor-element.elementor-element-3626769c .elementor-swiper-button {
  font-size: 20px;
}
.elementor-90552 .elementor-element.elementor-element-3626769c .elementor-testimonial__content,
.elementor-90552
  .elementor-element.elementor-element-3626769c
  .elementor-testimonial__content:after {
  background-color: #f7f7f7;
}
.elementor-90552 .elementor-element.elementor-element-3626769c .elementor-testimonial__content {
  padding: 20px 20px 20px 20px;
}
.elementor-90552
  .elementor-element.elementor-element-3626769c.elementor-testimonial--layout-image_left
  .elementor-testimonial__footer,
.elementor-90552
  .elementor-element.elementor-element-3626769c.elementor-testimonial--layout-image_right
  .elementor-testimonial__footer {
  padding-top: 20px;
}
.elementor-90552
  .elementor-element.elementor-element-3626769c.elementor-testimonial--layout-image_above
  .elementor-testimonial__footer,
.elementor-90552
  .elementor-element.elementor-element-3626769c.elementor-testimonial--layout-image_inline
  .elementor-testimonial__footer,
.elementor-90552
  .elementor-element.elementor-element-3626769c.elementor-testimonial--layout-image_stacked
  .elementor-testimonial__footer {
  padding: 0 20px 0 20px;
}
.elementor-90552 .elementor-element.elementor-element-238e9b85 > .elementor-container {
  min-height: 200px;
}
.elementor-90552
  .elementor-element.elementor-element-238e9b85:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-90552
  .elementor-element.elementor-element-238e9b85
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0fafa3;
}
.elementor-90552 .elementor-element.elementor-element-238e9b85 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-238e9b85 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-714a2fc2 {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-714a2fc2 .elementor-heading-title {
  color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-61b8239e .elementor-button {
  background-color: #f5891f;
}
.elementor-90552
  .elementor-element.elementor-element-31b04849
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-90552
  .elementor-element.elementor-element-31b04849:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-90552
  .elementor-element.elementor-element-31b04849
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-31b04849 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-90552 .elementor-element.elementor-element-31b04849 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-1674e261 {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
  color: #000;
  font-size: 55px;
  font-weight: 600;
}
.elementor-90552 .elementor-element.elementor-element-342802c9 {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-90552
  .elementor-element.elementor-element-12fece2c
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-90552
  .elementor-element.elementor-element-12fece2c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-90552
  .elementor-element.elementor-element-12fece2c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-12fece2c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-90552 .elementor-element.elementor-element-12fece2c > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-90552
  .elementor-element.elementor-element-4d214b91
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 25px 25px 25px 25px;
}
.elementor-90552
  .elementor-element.elementor-element-6d782980.elementor-view-stacked
  .elementor-icon {
  background-color: #feba13;
}
.elementor-90552
  .elementor-element.elementor-element-6d782980.elementor-view-framed
  .elementor-icon,
.elementor-90552
  .elementor-element.elementor-element-6d782980.elementor-view-default
  .elementor-icon {
  fill: #feba13;
  color: #feba13;
  border-color: #feba13;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 {
  --icon-box-icon-margin: 15px;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon {
  font-size: 30px;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-title,
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-90552
  .elementor-element.elementor-element-1905a696.elementor-view-stacked
  .elementor-icon {
  background-color: #feba13;
}
.elementor-90552
  .elementor-element.elementor-element-1905a696.elementor-view-framed
  .elementor-icon,
.elementor-90552
  .elementor-element.elementor-element-1905a696.elementor-view-default
  .elementor-icon {
  fill: #feba13;
  color: #feba13;
  border-color: #feba13;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 {
  --icon-box-icon-margin: 15px;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon {
  font-size: 30px;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-title,
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-90552 .elementor-element.elementor-element-1905a696 > .elementor-widget-container {
  padding: 55px 0 0 0;
}
.elementor-90552
  .elementor-element.elementor-element-519d623b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 25px 25px 25px 25px;
}
.elementor-90552
  .elementor-element.elementor-element-5ac6c9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 25px 25px 25px 25px;
}
.elementor-90552
  .elementor-element.elementor-element-5f27215.elementor-view-stacked
  .elementor-icon {
  background-color: #feba13;
}
.elementor-90552 .elementor-element.elementor-element-5f27215.elementor-view-framed .elementor-icon,
.elementor-90552
  .elementor-element.elementor-element-5f27215.elementor-view-default
  .elementor-icon {
  fill: #feba13;
  color: #feba13;
  border-color: #feba13;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 {
  --icon-box-icon-margin: 15px;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon {
  font-size: 30px;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-title,
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-90552
  .elementor-element.elementor-element-3f8f2e32.elementor-view-stacked
  .elementor-icon {
  background-color: #feba13;
}
.elementor-90552
  .elementor-element.elementor-element-3f8f2e32.elementor-view-framed
  .elementor-icon,
.elementor-90552
  .elementor-element.elementor-element-3f8f2e32.elementor-view-default
  .elementor-icon {
  fill: #feba13;
  color: #feba13;
  border-color: #feba13;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 {
  --icon-box-icon-margin: 15px;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon {
  font-size: 30px;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-title,
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
}
.elementor-90552 .elementor-element.elementor-element-3f8f2e32 > .elementor-widget-container {
  padding: 55px 0 0 0;
}
.elementor-90552
  .elementor-element.elementor-element-5b314380:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-90552
  .elementor-element.elementor-element-5b314380
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-90552 .elementor-element.elementor-element-5b314380 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-5b314380 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-90552 .elementor-element.elementor-element-729f8be9 {
  --spacer-size: 50px;
}
.elementor-90552 .elementor-element.elementor-element-7eed6106 {
  --spacer-size: 50px;
}
.elementor-90552 .elementor-element.elementor-element-6d3bb7ee {
  --spacer-size: 50px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-90552 .elementor-element.elementor-element-1380a8ef {
    padding: 100px 25px 100px 25px;
  }
  .elementor-90552 .elementor-element.elementor-element-34af858 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-90552 .elementor-element.elementor-element-31b04849 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-90552 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-90552 .elementor-element.elementor-element-12fece2c {
    padding: 100px 25px 100px 25px;
  }
  .elementor-90552
    .elementor-element.elementor-element-4d214b91
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 10px 10px 10px 10px;
  }
  .elementor-90552
    .elementor-element.elementor-element-519d623b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
  .elementor-90552
    .elementor-element.elementor-element-5ac6c9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 10px 10px 10px 10px;
  }
}
@media (max-width: 767px) {
  .elementor-90552 .elementor-element.elementor-element-4d26bd1d > .elementor-container {
    min-height: 550px;
  }
  .elementor-90552 .elementor-element.elementor-element-29bfb32e .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-90552 .elementor-element.elementor-element-29bfb32e > .elementor-widget-container {
    padding: 0 1% 0 1%;
  }
  .elementor-90552 .elementor-element.elementor-element-73eab7a6 > .elementor-widget-container {
    padding: 0 7% 0 7%;
  }
  .elementor-90552 .elementor-element.elementor-element-0ae62fb > .elementor-widget-container {
    padding: 0 7% 0 7%;
  }
  .elementor-90552 .elementor-element.elementor-element-1380a8ef {
    padding: 50px 20px 0 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-34af858 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-90552 .elementor-element.elementor-element-595fa936 {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-90552 .elementor-element.elementor-element-238e9b85 {
    padding: 25px 0 25px 0;
  }
  .elementor-90552 .elementor-element.elementor-element-31b04849 {
    padding: 50px 20px 0 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-90552 .elementor-element.elementor-element-342802c9 {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-90552 .elementor-element.elementor-element-12fece2c {
    padding: 25px 20px 50px 20px;
  }
  .elementor-90552
    .elementor-element.elementor-element-4d214b91
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
  .elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-title,
  .elementor-90552 .elementor-element.elementor-element-6d782980 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-title,
  .elementor-90552 .elementor-element.elementor-element-1905a696 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-1905a696 > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
  .elementor-90552
    .elementor-element.elementor-element-519d623b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 15px 0 15px 0;
  }
  .elementor-90552 .elementor-element.elementor-element-7b929ca0 > .elementor-widget-container {
    margin: 20px 0 25px 0;
    padding: 0;
  }
  .elementor-90552
    .elementor-element.elementor-element-5ac6c9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
  .elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-title,
  .elementor-90552 .elementor-element.elementor-element-5f27215 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-title,
  .elementor-90552 .elementor-element.elementor-element-3f8f2e32 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-90552 .elementor-element.elementor-element-3f8f2e32 > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
  .elementor-90552 .elementor-element.elementor-element-7eed6106 {
    --spacer-size: 10px;
  }
}
@media (min-width: 768px) {
  .elementor-90552 .elementor-element.elementor-element-7288caeb {
    width: 70%;
  }
  .elementor-90552 .elementor-element.elementor-element-1ee383e1 {
    width: 30%;
  }
  .elementor-90552 .elementor-element.elementor-element-27d0dbcf {
    width: 80%;
  }
  .elementor-90552 .elementor-element.elementor-element-421b2c0f {
    width: 20%;
  }
}
