.elementor-80936 .elementor-element.elementor-element-df305e5 > .elementor-container {
  min-height: 550px;
}
.elementor-80936
  .elementor-element.elementor-element-df305e5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-df305e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2020/06/store_front_pic.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-80936 .elementor-element.elementor-element-df305e5 > .elementor-background-overlay {
  background-color: #0fafa3;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-df305e5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80936
  .elementor-element.elementor-element-df305e5
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-df305e5 > .elementor-shape-bottom svg {
  height: 103px;
}
.elementor-80936 .elementor-element.elementor-element-bb27b09 {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-bb27b09 .elementor-heading-title {
  color: #fff;
  font-family: 'Poppins', Sans-serif;
  font-size: 80px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-bb27b09 > .elementor-widget-container {
  margin: -73px 7px 19px 7px;
  padding: 0;
}
.elementor-80936 .elementor-element.elementor-element-92bbbb8 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-cc8dd97 > .elementor-container {
  max-width: 1524px;
}
.elementor-80936
  .elementor-element.elementor-element-cc8dd97
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-cc8dd97:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-cc8dd97
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-cc8dd97 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 0 10px 0;
}
.elementor-80936 .elementor-element.elementor-element-cc8dd97 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-bd12fe0 {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-bd12fe0 .elementor-heading-title {
  font-family: 'Poppins', Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-bd12fe0 > .elementor-widget-container {
  margin: 7px 7px 7px 7px;
  padding: 8px 8px 8px 8px;
}
.elementor-80936 .elementor-element.elementor-element-2afdc9d {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-2afdc9d .elementor-heading-title {
  font-family: 'Poppins', Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-02ae7ec {
  --spacer-size: 50px;
}
.elementor-80936
  .elementor-element.elementor-element-457c5897:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-457c5897
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-457c5897 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-457c5897 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936
  .elementor-element.elementor-element-60b1f07.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-60b1f07.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-60b1f07.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-60b1f07 {
  --icon-box-icon-margin: 15px;
}
.elementor-80936 .elementor-element.elementor-element-60b1f07 .elementor-icon {
  font-size: 70px;
}
.elementor-80936
  .elementor-element.elementor-element-5d253c4.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-5d253c4.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-5d253c4.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-5d253c4 {
  --icon-box-icon-margin: 15px;
}
.elementor-80936 .elementor-element.elementor-element-5d253c4 .elementor-icon {
  font-size: 70px;
}
.elementor-80936 .elementor-element.elementor-element-4b1c166 {
  --spacer-size: 50px;
}
.elementor-80936
  .elementor-element.elementor-element-de45b7d.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-de45b7d.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-de45b7d.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-de45b7d {
  --icon-box-icon-margin: 15px;
}
.elementor-80936 .elementor-element.elementor-element-de45b7d .elementor-icon {
  font-size: 70px;
}
.elementor-80936 .elementor-element.elementor-element-537e3c71 .elementor-swiper-button {
  font-size: 20px;
}
.elementor-80936
  .elementor-element.elementor-element-9f847ee
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-9f847ee:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-9f847ee
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-80936 .elementor-element.elementor-element-9f847ee {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 0 10px 0;
}
.elementor-80936 .elementor-element.elementor-element-9f847ee > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-497fad3 {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-497fad3 .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-497fad3 > .elementor-widget-container {
  margin: 0;
  padding: 25px 0 0 0;
}
.elementor-80936 .elementor-element.elementor-element-5b11aab {
  text-align: center;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
}
.elementor-80936 .elementor-element.elementor-element-5b11aab > .elementor-widget-container {
  margin: -1px -1px -1px -1px;
}
.elementor-80936
  .elementor-element.elementor-element-ccd3cf0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-ccd3cf0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-ccd3cf0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-ccd3cf0 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936
  .elementor-element.elementor-element-7a685c9.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-7a685c9.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-7a685c9.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 {
  --icon-box-icon-margin: -10px;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon {
  font-size: 60px;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80936 .elementor-element.elementor-element-7a685c9 > .elementor-widget-container {
  padding: 0 0 10px 0;
}
.elementor-80936
  .elementor-element.elementor-element-4484e4d.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-4484e4d.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-4484e4d.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-4484e4d {
  --icon-box-icon-margin: -10px;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon {
  font-size: 60px;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80936 .elementor-element.elementor-element-4484e4d > .elementor-widget-container {
  padding: 0 3px 10px 3px;
}
.elementor-80936
  .elementor-element.elementor-element-59bc5fc.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc.elementor-view-framed .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-59bc5fc.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc {
  --icon-box-icon-margin: -10px;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon {
  font-size: 60px;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80936 .elementor-element.elementor-element-59bc5fc > .elementor-widget-container {
  padding: 0 0 10px 0;
}
.elementor-80936 .elementor-element.elementor-element-ed8dd8f > .elementor-widget-container {
  margin: 0;
  padding: 8px 8px 8px 8px;
}
.elementor-80936
  .elementor-element.elementor-element-50cd70f
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-50cd70f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-50cd70f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-50cd70f > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-50cd70f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-80936 .elementor-element.elementor-element-fdb7188 {
  --spacer-size: 25px;
}
.elementor-80936 .elementor-element.elementor-element-007193b {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-007193b .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-007193b > .elementor-widget-container {
  margin: -3px -3px -3px -3px;
  padding: -12px -12px -12px -12px;
}
.elementor-80936
  .elementor-element.elementor-element-4e7863f4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-4e7863f4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-4e7863f4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-80936 .elementor-element.elementor-element-4e7863f4 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936
  .elementor-element.elementor-element-3b2643d8.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936
  .elementor-element.elementor-element-3b2643d8.elementor-view-framed
  .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-3b2643d8.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 {
  --icon-box-icon-margin: 0;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon {
  font-size: 70px;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-title {
  margin-bottom: 3px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80936 .elementor-element.elementor-element-3b2643d8 > .elementor-widget-container {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.elementor-80936
  .elementor-element.elementor-element-5450bcbf.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936
  .elementor-element.elementor-element-5450bcbf.elementor-view-framed
  .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-5450bcbf.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf {
  --icon-box-icon-margin: 16px;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon {
  font-size: 70px;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80936 .elementor-element.elementor-element-5450bcbf > .elementor-widget-container {
  padding: 0;
}
.elementor-80936
  .elementor-element.elementor-element-547b8bad.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936
  .elementor-element.elementor-element-547b8bad.elementor-view-framed
  .elementor-icon,
.elementor-80936
  .elementor-element.elementor-element-547b8bad.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-547b8bad {
  --icon-box-icon-margin: 15px;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon {
  font-size: 68px;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-title,
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: normal;
}
.elementor-80936 .elementor-element.elementor-element-547b8bad > .elementor-widget-container {
  padding: 0;
}
.elementor-80936
  .elementor-element.elementor-element-ddcf7a7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-ddcf7a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-ddcf7a7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-ddcf7a7 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-b8120fa {
  --spacer-size: 50px;
}
.elementor-80936
  .elementor-element.elementor-element-fec45a7
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-fec45a7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-fec45a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-80936 .elementor-element.elementor-element-fec45a7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 75px 0;
}
.elementor-80936 .elementor-element.elementor-element-fec45a7 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936
  .elementor-element.elementor-element-e7f0fcb
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-80936 .elementor-element.elementor-element-e2dadbf {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-e2dadbf .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-2a58fe5 {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-80936 .elementor-element.elementor-element-2a58fe5 > .elementor-widget-container {
  margin: 23px 23px 23px 23px;
}
.elementor-80936 .elementor-element.elementor-element-8741ee8.elementor-wc-products ul.products {
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}
.elementor-80936
  .elementor-element.elementor-element-8741ee8.elementor-wc-products
  ul.products
  li.product {
  text-align: center;
  padding: 5px 5px 20px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.elementor-80936
  .elementor-element.elementor-element-8741ee8.elementor-wc-products
  ul.products
  li.product
  .button {
  color: #0fafa3;
  background-color: #fff;
  text-decoration: underline;
}
.elementor-80936 .elementor-element.elementor-element-8741ee8.elementor-wc-products .added_to_cart {
  color: #f5891f;
}
.elementor-80936
  .elementor-element.elementor-element-8741ee8.elementor-wc-products
  ul.products
  li.product
  span.onsale {
  display: block;
}
.elementor-80936 .elementor-element.elementor-element-8741ee8 > .elementor-widget-container {
  margin: 0;
  padding: 43px 43px 43px 43px;
}
.elementor-80936 .elementor-element.elementor-element-d1a4b06 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936
  .elementor-element.elementor-element-8e607f5
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-8e607f5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-8e607f5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-80936 .elementor-element.elementor-element-8e607f5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-80936 .elementor-element.elementor-element-8e607f5 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-fcf500c {
  --spacer-size: 50px;
}
.elementor-80936 .elementor-element.elementor-element-1492282 {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-1492282 .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-1492282 > .elementor-widget-container {
  margin: -3px -3px -3px -3px;
  padding: -12px -12px -12px -12px;
}
.elementor-80936 .elementor-element.elementor-element-dd05e28 {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-dd05e28 > .elementor-widget-container {
  margin: -2px 0 5px 0;
}
.elementor-80936 .elementor-element.elementor-element-70e2173 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80936 .elementor-element.elementor-element-52eab1d > .elementor-container {
  max-width: 1092px;
}
.elementor-80936
  .elementor-element.elementor-element-52eab1d
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80936
  .elementor-element.elementor-element-52eab1d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-52eab1d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #f7f7f7 0, #f7f7f7f7 100%);
}
.elementor-80936 .elementor-element.elementor-element-52eab1d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 29px 0 12px 0;
}
.elementor-80936 .elementor-element.elementor-element-52eab1d > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-e86d1e6 {
  --spacer-size: 50px;
}
.elementor-80936 .elementor-element.elementor-element-83e04fc {
  text-align: center;
}
.elementor-80936 .elementor-element.elementor-element-83e04fc .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-size: 50px;
  font-weight: 600;
}
.elementor-80936 .elementor-element.elementor-element-83e04fc > .elementor-widget-container {
  margin: 4px 4px -4px 4px;
  padding: -9px -9px -9px -9px;
}
.elementor-80936 .elementor-element.elementor-element-9c1e1fe {
  text-align: center;
  color: var(--e-global-color-4666813);
  font-size: 16px;
  font-weight: normal;
}
.elementor-80936 .elementor-element.elementor-element-9c1e1fe > .elementor-widget-container {
  padding: 3px 3px 3px 3px;
}
.elementor-80936
  .elementor-element.elementor-element-52c0aa24:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80936
  .elementor-element.elementor-element-52c0aa24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-80936 .elementor-element.elementor-element-52c0aa24 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: -4px -4px -4px -4px;
}
.elementor-80936 .elementor-element.elementor-element-52c0aa24 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80936 .elementor-element.elementor-element-7161fcd0 {
  --e-image-carousel-slides-to-show: 5;
}
.elementor-80936 .elementor-element.elementor-element-7161fcd0 .swiper-wrapper {
  display: flex;
  align-items: center;
}
.elementor-80936 .elementor-element.elementor-element-1e4b789 {
  --spacer-size: 50px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-80936 .elementor-element.elementor-element-cc8dd97 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-9f847ee {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-497fad3 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-50cd70f {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-007193b .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-fec45a7 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-e2dadbf .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-8741ee8.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-80936 .elementor-element.elementor-element-8e607f5 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-1492282 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-52eab1d {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80936 .elementor-element.elementor-element-83e04fc .elementor-heading-title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .elementor-80936 .elementor-element.elementor-element-df305e5 > .elementor-container {
    min-height: 550px;
  }
  .elementor-80936 .elementor-element.elementor-element-bb27b09 .elementor-heading-title {
    font-size: 52px;
  }
  .elementor-80936 .elementor-element.elementor-element-cc8dd97 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-9f847ee {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-497fad3 {
    text-align: center;
  }
  .elementor-80936 .elementor-element.elementor-element-497fad3 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-5b11aab {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-7a685c9 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-4484e4d .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-59bc5fc .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-50cd70f {
    padding: 50px 20px 0 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-007193b .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-3b2643d8 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-3b2643d8 > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
  .elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-5450bcbf .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-5450bcbf > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
  .elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-title,
  .elementor-80936 .elementor-element.elementor-element-547b8bad .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-547b8bad > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
  .elementor-80936 .elementor-element.elementor-element-fec45a7 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-e2dadbf .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-2a58fe5 {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-80936 .elementor-element.elementor-element-8741ee8.elementor-wc-products ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-80936 .elementor-element.elementor-element-8e607f5 {
    padding: 50px 20px 0 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-1492282 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-52eab1d {
    padding: 50px 20px 0 20px;
  }
  .elementor-80936 .elementor-element.elementor-element-83e04fc .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80936 .elementor-element.elementor-element-9c1e1fe {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
}
