.elementor-82154 .elementor-element.elementor-element-546acc3e {
  margin-top: 50px;
  margin-bottom: 50px;
}
.elementor-82154
  .elementor-element.elementor-element-167b1259:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-82154
  .elementor-element.elementor-element-167b1259
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-82154 .elementor-element.elementor-element-167b1259 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-82154
  .elementor-element.elementor-element-167b1259
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-82154
  .elementor-element.elementor-element-167b1259
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 60px 60px 60px 60px;
}
.elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl
  .elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon i {
  color: #54595f;
  font-size: 13px;
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon svg {
  fill: #54595f;
  --e-icon-list-icon-size: 13px;
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon {
  width: 13px;
}
body:not(.rtl)
  .elementor-82154
  .elementor-element.elementor-element-c0d5122
  .elementor-icon-list-text {
  padding-left: 8px;
}
body.rtl .elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-text {
  padding-right: 8px;
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-text,
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-text a {
  color: #54595f;
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-item {
  font-size: 13px;
  font-weight: 300;
}
.elementor-82154 .elementor-element.elementor-element-c0d5122 > .elementor-widget-container {
  padding: 15px 0 15px 0;
  border-style: dotted;
  border-width: 1px 0 1px 0;
  border-color: #afafaf;
}
.elementor-82154 .elementor-element.elementor-element-9c17955 {
  --alignment: left;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0;
  --grid-bottom-margin: 0;
}
.elementor-82154 .elementor-element.elementor-element-4e31412f {
  font-size: 16px;
  line-height: 1.6em;
}
.elementor-82154 .elementor-element.elementor-element-4e31412f > .elementor-widget-container {
  margin: 20px 0 0 0;
}
.elementor-82154 .elementor-element.elementor-element-4ad6502 {
  --alignment: left;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0;
  --grid-bottom-margin: 0;
}
.elementor-82154 .elementor-element.elementor-element-4ad6502 > .elementor-widget-container {
  margin: 0 0 0 25px;
}
.elementor-82154
  .elementor-element.elementor-element-de256c1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-82154
  .elementor-element.elementor-element-de256c1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-82154 .elementor-element.elementor-element-de256c1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0;
}
.elementor-82154 .elementor-element.elementor-element-de256c1 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-82154 .elementor-element.elementor-element-e1f0d79 {
  text-align: center;
  font-weight: bold;
}
.elementor-82154 .elementor-element.elementor-element-e1f0d79 > .elementor-widget-container {
  margin: 15px 0 0 0;
}
.elementor-82154 .elementor-element.elementor-element-0ca3bc6 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-82154 .elementor-element.elementor-element-0ca3bc6 > .elementor-widget-container {
  margin: 0;
}
.elementor-82154 .elementor-element.elementor-element-384cbac {
  --spacer-size: 50px;
}
.elementor-82154
  .elementor-element.elementor-element-e0dd655
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-82154 .elementor-element.elementor-element-e0dd655:after {
  content: '0.66';
}
.elementor-82154 .elementor-element.elementor-element-e0dd655 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-82154 .elementor-element.elementor-element-e0dd655 .elementor-post__text {
  margin-top: 20px;
}
.elementor-82154 .elementor-element.elementor-element-e0dd655 .elementor-post__title,
.elementor-82154 .elementor-element.elementor-element-e0dd655 .elementor-post__title a {
  color: #7a7a7a;
}
.elementor-82154 .elementor-element.elementor-element-3404032b {
  --divider-border-style: dotted;
  --divider-color: #afafaf;
  --divider-border-width: 1px;
}
.elementor-82154 .elementor-element.elementor-element-3404032b .elementor-divider-separator {
  width: 100%;
}
.elementor-82154 .elementor-element.elementor-element-3404032b .elementor-divider {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .elementor-82154 .elementor-element.elementor-element-7256033 {
    width: 75%;
  }
  .elementor-82154 .elementor-element.elementor-element-416a603 {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .elementor-82154 .elementor-element.elementor-element-9c17955 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
  .elementor-82154 .elementor-element.elementor-element-4ad6502 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
}
@media (max-width: 767px) {
  .elementor-82154
    .elementor-element.elementor-element-167b1259
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
  .elementor-82154 .elementor-element.elementor-element-dbd741b {
    text-align: left;
  }
  .elementor-82154 .elementor-element.elementor-element-dbd741b > .elementor-widget-container {
    padding: 0 10px 0 15px;
  }
  .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
  }
  .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
  }
  .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
  }
  .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
  }
  body.rtl
    .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
  }
  body:not(.rtl)
    .elementor-82154
    .elementor-element.elementor-element-c0d5122
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
  }
  .elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon {
    width: 16px;
  }
  .elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon i {
    font-size: 16px;
  }
  .elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-icon svg {
    --e-icon-list-icon-size: 16px;
  }
  .elementor-82154 .elementor-element.elementor-element-c0d5122 .elementor-icon-list-item {
    line-height: 27px;
  }
  .elementor-82154 .elementor-element.elementor-element-9c17955 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
  .elementor-82154 .elementor-element.elementor-element-9c17955 {
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
  .elementor-82154 .elementor-element.elementor-element-4e31412f {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-82154 .elementor-element.elementor-element-4e31412f > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-82154 .elementor-element.elementor-element-4ad6502 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
  .elementor-82154 .elementor-element.elementor-element-4ad6502 {
    --grid-row-gap: 5px;
    --grid-bottom-margin: 5px;
  }
  .elementor-82154
    .elementor-element.elementor-element-e0dd655
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-82154 .elementor-element.elementor-element-e0dd655:after {
    content: '0.5';
  }
  .elementor-82154 .elementor-element.elementor-element-e0dd655 .elementor-post__excerpt p {
    font-size: 16px;
    line-height: 1.6em;
  }
}
