.elementor-82005 .elementor-element.elementor-element-a6ea06d {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px;
}
.elementor-82005 .elementor-element.elementor-element-a6ea06d .elementor-divider-separator {
  width: 100%;
}
.elementor-82005 .elementor-element.elementor-element-a6ea06d .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
:root {
  --page-title-display: none;
}
