.elementor-84134 .elementor-element.elementor-element-7192df54 > .elementor-container {
  min-height: 100vh;
}
.elementor-84134
  .elementor-element.elementor-element-7192df54
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-bc-flex-widget
  .elementor-84134
  .elementor-element.elementor-element-63219149.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-84134
  .elementor-element.elementor-element-63219149.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-84134
  .elementor-element.elementor-element-63219149.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-84134
  .elementor-element.elementor-element-63219149
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-5ed98222 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-5ed98222 .elementor-heading-title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-84134 .elementor-element.elementor-element-5ed98222 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-c289e68 > .elementor-container {
  max-width: 500px;
}
.elementor-84134 .elementor-element.elementor-element-7fa9e7bb .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-84134 .elementor-element.elementor-element-4d2adb1d .elementor-button {
  fill: #7a7a7a;
  color: #7a7a7a;
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-7192df54 .premium-kenburns-img {
  animation-duration: 2s;
}
.elementor-84134
  .elementor-element.elementor-element-7192df54:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-7192df54
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-84134 .elementor-element.elementor-element-7192df54 > .elementor-background-overlay {
  background-color: rgba(122, 122, 122, 0.76);
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-7192df54 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84134
  .elementor-element.elementor-element-185c4ee4
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-84134 .elementor-element.elementor-element-185c4ee4 {
  padding: 50px 0 50px 0;
}
.elementor-84134 .elementor-element.elementor-element-193dbfd7 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-193dbfd7 .elementor-heading-title {
  color: #595959;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
.elementor-84134 .elementor-element.elementor-element-5fac9bf4 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-5fac9bf4 .elementor-heading-title {
  color: #000;
  line-height: 1.2em;
}
.elementor-84134 .elementor-element.elementor-element-5fac9bf4 > .elementor-widget-container {
  margin: -10px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-unfold-content,
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-unfold-heading {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-unfold-button-container {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 #premium-unfold-gradient-4ecc5229 {
  height: 50px;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-unfold-container {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-unfold-content {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button span {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button i {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button svg,
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button svg g path {
  fill: #fff;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button {
  background-color: #7a7a7a;
  border-radius: 5px;
  margin: 15px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button:hover span {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-4ecc5229 .premium-button:hover {
  background-color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-element-390144b3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-390144b3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-390144b3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-390144b3 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-1955b48c {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-1955b48c > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134
  .elementor-element.elementor-element-6e192de3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-6e192de3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-6e192de3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-6e192de3 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-1b601ec7 {
  color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-element-3f0e0d51:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-3f0e0d51
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-3f0e0d51 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-3f0e0d51 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-1a64fb45 {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-48ad2426 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-84134 .elementor-element.elementor-element-48ad2426 > .elementor-widget-container {
  margin: 0;
}
.elementor-84134
  .elementor-element.elementor-element-3f01ac3a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-3f01ac3a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-3f01ac3a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-3f01ac3a > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-1a163c4e {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-755a43b3 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-84134 .elementor-element.elementor-element-755a43b3 > .elementor-widget-container {
  margin: 0;
}
.elementor-84134
  .elementor-element.elementor-element-4f23d1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-4f23d1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-4f23d1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4f23d1 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-26cd81d8 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-84134 .elementor-element.elementor-element-26cd81d8 > .elementor-widget-container {
  margin: 0;
}
.elementor-84134
  .elementor-element.elementor-element-3156c35a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-3156c35a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-3156c35a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-3156c35a > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-540f4e9a {
  --spacer-size: 50px;
}
.elementor-84134
  .elementor-element.elementor-element-526dd403
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84134 .elementor-element.elementor-element-26c6d4d9 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-26c6d4d9 > .elementor-widget-container {
  padding: 5px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-global-83931 {
  --alignment: center;
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
}
.elementor-84134 .elementor-element.elementor-global-83931 > .elementor-widget-container {
  padding: 0;
}
.elementor-84134
  .elementor-element.elementor-element-79bcd0ce:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-79bcd0ce
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-79bcd0ce {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 35px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-79bcd0ce > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134
  .elementor-element.elementor-element-43aebb21
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84134 .elementor-element.elementor-element-52145b0c {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-52145b0c .elementor-heading-title {
  color: #3d3d3d;
  line-height: 1em;
}
.elementor-84134 .elementor-element.elementor-element-52145b0c > .elementor-widget-container {
  margin: 0 0 25px 0;
}
.elementor-84134 .elementor-element.elementor-element-c0f530b {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-2cb14bcb .premium-countdown {
  justify-content: center;
}
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .countdown
  .countdown-section
  .countdown-amount,
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .premium-countdown-flip
  .premium-countdown-figure
  span {
  color: #0fafa3;
  font-size: 36px;
  line-height: 0.2em;
}
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .countdown
  .countdown-section
  .countdown-amount,
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .premium-countdown-flip
  .premium-countdown-figure,
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .premium-countdown-flip
  .premium-countdown-figure
  .top,
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .premium-countdown-flip
  .premium-countdown-figure
  .top-back,
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .premium-countdown-flip
  .premium-countdown-figure
  .bottom-back {
  background-color: #fff;
}
.elementor-84134
  .elementor-element.elementor-element-2cb14bcb
  .countdown
  .countdown-section
  .countdown-amount {
  padding: 1px;
}
.elementor-84134 .elementor-element.elementor-element-2cb14bcb .premium-countdown-figure {
  width: 1px;
}
.elementor-84134 .elementor-element.elementor-element-2cb14bcb .countdown .countdown-section,
.elementor-84134 .elementor-element.elementor-element-2cb14bcb .premium-countdown-block {
  margin-right: calc(12px / 2);
  margin-left: calc(12px / 2);
}
.elementor-84134 .elementor-element.elementor-element-2cb14bcb > .elementor-widget-container {
  padding: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-60a59a4b {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-150fa247 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134
  .elementor-element.elementor-element-105dd919
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84134 .elementor-element.elementor-element-105dd919 > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0;
  --e-column-margin-left: 0;
}
.elementor-84134
  .elementor-element.elementor-element-105dd919
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-container-in {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-icon {
  color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-element-4d810bfa
  .premium-icon-box-icon-container
  svg {
  fill: #7a7a7a;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-title {
  color: #0fafa3;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2em;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-content-wrap {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-container-out {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4d810bfa > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84134
  .elementor-element.elementor-element-2a18d13c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84134 .elementor-element.elementor-element-2a18d13c > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0;
  --e-column-margin-left: 0;
}
.elementor-84134
  .elementor-element.elementor-element-2a18d13c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-bar-wrap,
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-bar {
  height: 20px;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-bar-wrap,
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-bar,
.elementor-84134 .elementor-element.elementor-element-260234d2 .progress-segment {
  border-radius: 40px;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-bar,
.elementor-84134 .elementor-element.elementor-element-260234d2 .segment-inner {
  background-color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-element-260234d2
  .premium-progressbar-bar-wrap:not(.premium-progressbar-dots),
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-circle-base,
.elementor-84134 .elementor-element.elementor-element-260234d2 .progress-segment,
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-circle-inner {
  background-color: #eaeaea;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-left-label {
  color: #1fa79f;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 .premium-progressbar-right-label {
  color: #7a7a7a;
  font-size: 20px;
  font-weight: bold;
}
.elementor-84134 .elementor-element.elementor-element-260234d2 > .elementor-widget-container {
  margin: 0;
  padding: 10px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-bar-wrap,
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-bar {
  height: 20px;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-bar-wrap,
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-bar,
.elementor-84134 .elementor-element.elementor-element-12616aaf .progress-segment {
  border-radius: 40px;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-bar,
.elementor-84134 .elementor-element.elementor-element-12616aaf .segment-inner {
  background-color: #1fafa5;
}
.elementor-84134
  .elementor-element.elementor-element-12616aaf
  .premium-progressbar-bar-wrap:not(.premium-progressbar-dots),
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-circle-base,
.elementor-84134 .elementor-element.elementor-element-12616aaf .progress-segment,
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-circle-inner {
  background-color: #eaeaea;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-left-label {
  color: #0fafa3;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf .premium-progressbar-right-label {
  color: #0fafa3;
  font-size: 20px;
  font-weight: bold;
}
.elementor-84134 .elementor-element.elementor-element-12616aaf > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84134
  .elementor-element.elementor-element-1e191ed3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-1e191ed3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #85a43d;
}
.elementor-84134 .elementor-element.elementor-element-1e191ed3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 20px 0;
}
.elementor-84134 .elementor-element.elementor-element-1e191ed3 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-7bde6a6a .elementor-heading-title {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-7bde6a6a > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-14e66bd8 {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-61555ed0 {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-global-82334 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #186496;
}
.elementor-84134 .elementor-element.elementor-global-82334 > .elementor-widget-container {
  margin: 0;
}
.elementor-84134 .elementor-element.elementor-element-4b161ea5 {
  color: #fff;
}
.elementor-84134
  .elementor-element.elementor-element-55da4b55
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-84134
  .elementor-element.elementor-element-401a9243
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84134 .elementor-element.elementor-element-602c493 {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-602c493 .elementor-heading-title {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-602c493 > .elementor-widget-container {
  padding: 0 0 20px 0;
}
.elementor-84134 .elementor-element.elementor-element-11c14380 {
  color: #fff;
}
.elementor-bc-flex-widget
  .elementor-84134
  .elementor-element.elementor-element-3b4b0305.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-84134
  .elementor-element.elementor-element-3b4b0305.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-84134 .elementor-element.elementor-element-6d082d3a .elementor-button {
  background-color: #186496;
}
.elementor-84134 .elementor-element.elementor-element-55da4b55 > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-55da4b55 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0 95px 0;
}
.elementor-84134 .elementor-element.elementor-element-3de4ad34 {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-5d737e87 {
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-70a5725 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-70a5725 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-3cb3d3be {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-3b127941 {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134
  .elementor-element.elementor-element-4212859c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-4212859c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #85a43d;
}
.elementor-84134 .elementor-element.elementor-element-4212859c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 20px 0;
}
.elementor-84134 .elementor-element.elementor-element-4212859c > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-1ec14d2c .elementor-heading-title {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-1ec14d2c > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-713611a1 {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-1f619729 {
  color: #fff;
}
.elementor-84134
  .elementor-element.elementor-element-7b7e88a3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-7b7e88a3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-7b7e88a3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 25px 0;
}
.elementor-84134 .elementor-element.elementor-element-7b7e88a3 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-c4dde50 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-c4dde50 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-1833a39c {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-1489038d {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134
  .elementor-element.elementor-element-42594df0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-42594df0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #85a43d;
}
.elementor-84134 .elementor-element.elementor-element-42594df0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 20px 0;
}
.elementor-84134 .elementor-element.elementor-element-42594df0 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-5f24b169 .elementor-heading-title {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-5f24b169 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-1692b031 {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-6f63f85b {
  color: #fff;
}
.elementor-84134
  .elementor-element.elementor-element-3de31d09:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-3de31d09
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-3de31d09 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-3de31d09 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-20f7dc8c > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-20f7dc8c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-20f7dc8c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-20f7dc8c {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-20f7dc8c > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-45bf4ec0 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-1bb4aeb4 {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-global-81462 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-84134 .elementor-element.elementor-global-81462 > .elementor-widget-container {
  margin: 0;
}
.elementor-84134 .elementor-element.elementor-element-54503494 > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-54503494:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-54503494
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-54503494 {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-54503494 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-3126f35d {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-45a7ea69 {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-element-f183445 > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-f183445:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-f183445
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-f183445 {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-f183445 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-48879f83 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-721c5768 {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134
  .elementor-element.elementor-element-66647a34:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-66647a34
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-66647a34 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 35px 0;
}
.elementor-84134 .elementor-element.elementor-element-66647a34 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-48f1603a > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-48f1603a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-48f1603a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-48f1603a {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-48f1603a > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-bd69f5c {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-600a8ce6 {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-element-4cc77d09 > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-4cc77d09:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-4cc77d09
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-4cc77d09 {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-4cc77d09 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-645d7ce9 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-8840285 {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-element-3b0c03eb > .elementor-container {
  min-height: 300px;
}
.elementor-84134
  .elementor-element.elementor-element-3b0c03eb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-3b0c03eb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-3b0c03eb {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-3b0c03eb > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-73cc02ec {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-57e1487d {
  text-align: center;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}
.elementor-84134 .elementor-element.elementor-element-3bc7b317 {
  padding: 0 0 50px 0;
}
.elementor-84134 .elementor-element.elementor-element-2d4312b6 {
  text-align: center;
}
.elementor-84134 .elementor-element.elementor-element-2d4312b6 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-39f352a2 {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-333c1ce8 {
  text-align: left;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-81a940d > .elementor-container {
  max-width: 600px;
}
.elementor-84134
  .elementor-element.elementor-element-4504be11:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-4504be11
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #85a43d;
}
.elementor-84134 .elementor-element.elementor-element-4504be11 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 20px 0;
}
.elementor-84134 .elementor-element.elementor-element-4504be11 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-210eb461 .elementor-heading-title {
  color: #fff;
}
.elementor-84134 .elementor-element.elementor-element-210eb461 > .elementor-widget-container {
  margin: 25px 0 0 0;
}
.elementor-84134 .elementor-element.elementor-element-6405e3e4 {
  color: #fff;
}
.elementor-84134
  .elementor-element.elementor-element-1c0f5397:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84134
  .elementor-element.elementor-element-1c0f5397
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84134 .elementor-element.elementor-element-1c0f5397 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-84134 .elementor-element.elementor-element-1c0f5397 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84134 .elementor-element.elementor-element-6f10e91a {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-192aa519 {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-6367504c {
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-84134 .elementor-element.elementor-element-24dba9ef {
  padding: 35px 0 25px 0;
}
.elementor-84134 .elementor-element.elementor-element-7bb4a8eb {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-7bb4a8eb .elementor-heading-title {
  color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-global-83366
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-84134 .elementor-element.elementor-global-83366:after {
  content: '0.66';
}
.elementor-84134
  .elementor-element.elementor-global-83366
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-84134 .elementor-element.elementor-global-83366 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-84134 .elementor-element.elementor-global-83366 .elementor-post__text {
  margin-top: 20px;
}
.elementor-84134 .elementor-element.elementor-global-83366 .elementor-post__badge {
  right: 0;
}
.elementor-84134
  .elementor-element.elementor-global-83366
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-84134 .elementor-element.elementor-element-2aae3565 {
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
}
.elementor-84134 .elementor-element.elementor-element-47021d2c {
  text-align: left;
}
.elementor-84134 .elementor-element.elementor-element-47021d2c .elementor-heading-title {
  color: #7a7a7a;
}
.elementor-84134
  .elementor-element.elementor-global-83380
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-84134 .elementor-element.elementor-global-83380:after {
  content: '0.66';
}
.elementor-84134
  .elementor-element.elementor-global-83380
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-84134 .elementor-element.elementor-global-83380 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-84134 .elementor-element.elementor-global-83380 .elementor-post__text {
  margin-top: 20px;
}
.elementor-84134 .elementor-element.elementor-global-83380 .elementor-post__badge {
  right: 0;
}
.elementor-84134
  .elementor-element.elementor-global-83380
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-84134 .elementor-element.elementor-element-27375209 {
  --spacer-size: 75px;
}
@media (min-width: 768px) {
  .elementor-84134 .elementor-element.elementor-element-320792aa {
    width: 84%;
  }
  .elementor-84134 .elementor-element.elementor-element-cd8d188 {
    width: 16%;
  }
  .elementor-84134 .elementor-element.elementor-element-a66aac9 {
    width: 84%;
  }
  .elementor-84134 .elementor-element.elementor-element-88270f6 {
    width: 16%;
  }
  .elementor-84134 .elementor-element.elementor-element-6ddb5ab4 {
    width: 84%;
  }
  .elementor-84134 .elementor-element.elementor-element-531613d1 {
    width: 16%;
  }
  .elementor-84134 .elementor-element.elementor-element-105dd919 {
    width: 40%;
  }
  .elementor-84134 .elementor-element.elementor-element-2a18d13c {
    width: 60%;
  }
  .elementor-84134 .elementor-element.elementor-element-401a9243 {
    width: 68.596%;
  }
  .elementor-84134 .elementor-element.elementor-element-3b4b0305 {
    width: 31.404%;
  }
}
@media (max-width: 1024px) {
  .elementor-84134 .elementor-element.elementor-element-7192df54 > .elementor-container {
    min-height: 800px;
  }
  .elementor-84134
    .elementor-element.elementor-element-63219149
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 40px 40px 40px 40px;
  }
  .elementor-84134 .elementor-element.elementor-element-5ed98222 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-84134 .elementor-element.elementor-element-7192df54 {
    padding: 0 25px 0 25px;
  }
  .elementor-84134 .elementor-element.elementor-element-193dbfd7 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-84134 .elementor-element.elementor-element-5fac9bf4 .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-84134 .elementor-element.elementor-global-83931 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-52145b0c .elementor-heading-title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .elementor-84134 .elementor-element.elementor-element-7192df54 > .elementor-container {
    min-height: 612px;
  }
  .elementor-84134
    .elementor-element.elementor-element-63219149
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
  .elementor-84134 .elementor-element.elementor-element-5ed98222 {
    text-align: center;
  }
  .elementor-84134 .elementor-element.elementor-element-5ed98222 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-84134 .elementor-element.elementor-element-7192df54 {
    padding: 0 20px 0 20px;
  }
  .elementor-84134 .elementor-element.elementor-element-1a64fb45 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-1a163c4e > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-422e7271 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-global-83931 {
    --alignment: center;
  }
  .elementor-84134 .elementor-element.elementor-global-83931 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-c0f530b {
    text-align: center;
  }
  .elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-title {
    font-size: 48px;
  }
  .elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-title-container {
    margin: 0;
    padding: 0;
  }
  .elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-content-wrap {
    font-size: 16px;
  }
  .elementor-84134 .elementor-element.elementor-element-4d810bfa .premium-icon-box-container-out {
    margin: 0;
    padding: 0;
  }
  .elementor-84134 .elementor-element.elementor-element-602c493 {
    text-align: center;
  }
  .elementor-84134 .elementor-element.elementor-element-11c14380 {
    text-align: center;
  }
  .elementor-84134 .elementor-element.elementor-element-55da4b55 {
    padding: 80px 0 80px 0;
  }
  .elementor-84134 .elementor-element.elementor-element-3cb3d3be {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-3cb3d3be > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-3b127941 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-3b127941 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-1833a39c {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-1833a39c > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-1489038d {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-1489038d > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-39f352a2 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-39f352a2 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-333c1ce8 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-333c1ce8 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-1c0f5397 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-84134 .elementor-element.elementor-element-6f10e91a {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-6f10e91a > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84134 .elementor-element.elementor-element-192aa519 {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134 .elementor-element.elementor-element-6367504c {
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-84134
    .elementor-element.elementor-global-83366
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-84134 .elementor-element.elementor-global-83366:after {
    content: '0.5';
  }
  .elementor-84134
    .elementor-element.elementor-global-83380
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-84134 .elementor-element.elementor-global-83380:after {
    content: '0.5';
  }
}
