.elementor-86691 .elementor-element.elementor-element-6b409844 > .elementor-container {
  min-height: 50px;
}
.elementor-86691
  .elementor-element.elementor-element-6b409844
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-86691
  .elementor-element.elementor-element-6b409844:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-86691
  .elementor-element.elementor-element-6b409844
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-86691 .elementor-element.elementor-element-6b409844 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-86691 .elementor-element.elementor-element-6b409844 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-86691 .elementor-element.elementor-element-1891dc14 img {
  width: 150px;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-menu-toggle {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  border-radius: 0;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-nav-menu .elementor-item {
  font-size: 15px;
  font-weight: 500;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item {
  color: #2a302f;
  fill: #2a302f;
  padding-top: 40px;
  padding-bottom: 40px;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #feba13;
  fill: #feba13;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-nav-menu--dropdown a,
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-menu-toggle {
  color: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-nav-menu--dropdown {
  background-color: #f2f2f2;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-86691 .elementor-element.elementor-element-1e001893 .elementor-menu-toggle:hover {
  color: #feba13;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ededed;
}
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-86691
  .elementor-element.elementor-element-1e001893
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-size: 15px;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 div.elementor-menu-toggle {
  color: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 div.elementor-menu-toggle svg {
  fill: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 div.elementor-menu-toggle:hover {
  color: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 div.elementor-menu-toggle:hover svg {
  fill: #000;
}
.elementor-86691 .elementor-element.elementor-element-1e001893 {
  --nav-menu-icon-size: 25px;
}
.elementor-86691 .elementor-element.elementor-element-436d0bc7 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #186496;
}
.elementor-86691 .elementor-element.elementor-element-41cf3c3d .elementor-button {
  fill: #000;
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #feba13;
}
@media (min-width: 768px) {
  .elementor-86691 .elementor-element.elementor-element-44ab7c4e {
    width: 65%;
  }
  .elementor-86691 .elementor-element.elementor-element-5c96c7e9 {
    width: 10%;
  }
}
@media (max-width: 1024px) {
  .elementor-86691 .elementor-element.elementor-element-6b409844 {
    padding: 30px 20px 30px 20px;
  }
  .elementor-86691
    .elementor-element.elementor-element-1e001893
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-86691
    .elementor-element.elementor-element-1e001893
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 45px !important;
  }
}
@media (max-width: 767px) {
  .elementor-86691 .elementor-element.elementor-element-6b409844 > .elementor-container {
    min-height: 50px;
  }
  .elementor-86691 .elementor-element.elementor-element-6b409844 {
    padding: 5px 20px 5px 20px;
  }
  .elementor-86691 .elementor-element.elementor-element-5c6d145a {
    width: 50%;
  }
  .elementor-86691 .elementor-element.elementor-element-1891dc14 {
    text-align: left;
  }
  .elementor-86691 .elementor-element.elementor-element-1891dc14 img {
    width: 110px;
  }
  .elementor-86691 .elementor-element.elementor-element-44ab7c4e {
    width: 17%;
  }
  .elementor-86691
    .elementor-element.elementor-element-1e001893
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-86691
    .elementor-element.elementor-element-1e001893
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 35px !important;
  }
  .elementor-86691 .elementor-element.elementor-element-5c96c7e9 {
    width: 33%;
  }
}
