.elementor-92375 .elementor-element.elementor-element-dd27b39 {
  --spacer-size: 50px;
}
.elementor-92375 .elementor-element.elementor-element-125ca305 > .elementor-container {
  max-width: 800px;
  min-height: 50vh;
}
.elementor-92375
  .elementor-element.elementor-element-125ca305
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-92375
  .elementor-element.elementor-element-125ca305:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-92375
  .elementor-element.elementor-element-125ca305
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000;
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/03/clothes-for-kids.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-92375 .elementor-element.elementor-element-125ca305 > .elementor-background-overlay {
  background-color: var(--e-global-color-34e95787);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-92375 .elementor-element.elementor-element-125ca305 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -15px;
  margin-bottom: -15px;
  padding: -4px -4px -4px -4px;
}
.elementor-92375 .elementor-element.elementor-element-2ad41810 {
  text-align: center;
}
.elementor-92375 .elementor-element.elementor-element-2ad41810 .elementor-heading-title {
  color: #fff;
  font-size: 80px;
}
.elementor-92375 .elementor-element.elementor-element-4360d04a {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}
.elementor-92375 .elementor-element.elementor-element-4360d04a > .elementor-widget-container {
  margin: -5px 0 0 0;
  padding: 0;
}
.elementor-92375 .elementor-element.elementor-element-562c6a55 {
  --spacer-size: 50px;
}
.elementor-92375 .elementor-element.elementor-element-abbe87b {
  text-align: center;
}
.elementor-92375 .elementor-element.elementor-element-e771333 {
  text-align: left;
}
.elementor-92375 .elementor-element.elementor-element-e771333 .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-92375 .elementor-element.elementor-element-e771333 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-92375 .elementor-element.elementor-element-d8d5500 {
  text-align: left;
}
.elementor-92375 .elementor-element.elementor-element-d8d5500 .elementor-heading-title {
  color: var(--e-global-color-text);
}
.elementor-92375 .elementor-element.elementor-element-d8d5500 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-92375
  .elementor-element.elementor-element-4aec280
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-92375
  .elementor-element.elementor-element-4aec280
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-92375 .elementor-element.elementor-element-4aec280 .elementor-button {
  border-radius: 5px 5px 5px 5px;
  padding: 21px 21px 21px 21px;
}
.elementor-92375
  .elementor-element.elementor-element-5266dfc
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-92375
  .elementor-element.elementor-element-5266dfc
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-92375 .elementor-element.elementor-element-5266dfc .elementor-button {
  border-radius: 5px 5px 5px 5px;
  padding: 21px 21px 21px 21px;
}
.elementor-92375
  .elementor-element.elementor-element-1e1a5db6
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-92375
  .elementor-element.elementor-element-1e1a5db6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-92375
  .elementor-element.elementor-element-1e1a5db6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2020/06/sun-balloon.jpg');
  background-position: center center;
  background-size: cover;
}
.elementor-92375 .elementor-element.elementor-element-1e1a5db6 > .elementor-background-overlay {
  background-color: #fff;
  opacity: 0.85;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-92375 .elementor-element.elementor-element-1e1a5db6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0 150px 0;
}
.elementor-92375 .elementor-element.elementor-element-77415a35 {
  text-align: center;
}
.elementor-92375 .elementor-element.elementor-element-77415a35 .elementor-heading-title {
  color: #000;
  font-size: 45px;
  font-weight: 600;
}
.elementor-92375 .elementor-element.elementor-element-77415a35 > .elementor-widget-container {
  padding: 0 65px 0 65px;
}
.elementor-92375 .elementor-element.elementor-element-2ded8429 {
  text-align: center;
}
.elementor-92375 .elementor-element.elementor-element-2ded8429 .elementor-heading-title {
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-92375 .elementor-element.elementor-element-125ca305 > .elementor-container {
    min-height: 800px;
  }
  .elementor-92375 .elementor-element.elementor-element-125ca305 {
    padding: 0 25px 0 25px;
  }
  .elementor-92375 .elementor-element.elementor-element-1e1a5db6 {
    padding: 100px 25px 100px 25px;
  }
}
@media (max-width: 767px) {
  .elementor-92375 .elementor-element.elementor-element-125ca305 > .elementor-container {
    min-height: 612px;
  }
  .elementor-92375 .elementor-element.elementor-element-125ca305 {
    padding: 30px 20px 80px 20px;
  }
  .elementor-92375 .elementor-element.elementor-element-2ad41810 .elementor-heading-title {
    font-size: 65px;
  }
  .elementor-92375 .elementor-element.elementor-element-4360d04a {
    text-align: center;
  }
  .elementor-92375 .elementor-element.elementor-element-4360d04a > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-92375 .elementor-element.elementor-element-1e1a5db6 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-92375 .elementor-element.elementor-element-77415a35 .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-92375 .elementor-element.elementor-element-2ded8429 .elementor-heading-title {
    line-height: 20px;
  }
}
