.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-top-color: #fff;
}
ul.wc_payment_methods.payment_methods.methods,
.payment_box payment_method_stripe {
  background-color: #f7f7f7;
}
table.shop_table.woocommerce-checkout-review-order-table {
  margin-bottom: 5px;
}
.woocommerce-terms-and-conditions-wrapper {
  font-size: 10px;
  margin-bottom: 15px;
}
