.elementor-22179
  .elementor-element.elementor-element-318eab1a
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-22179 .elementor-element.elementor-element-318eab1a {
  padding: 100px 0 100px 0;
}
.elementor-22179
  .elementor-element.elementor-element-7b27f26b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0 20% 0 20%;
}
.elementor-22179 .elementor-element.elementor-element-43947ad9 {
  text-align: center;
}
.elementor-22179 .elementor-element.elementor-element-43947ad9 .elementor-heading-title {
  color: #000;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-22179 .elementor-element.elementor-element-14c3137a {
  text-align: center;
}
.elementor-22179 .elementor-element.elementor-element-14c3137a .elementor-heading-title {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-22179 .elementor-element.elementor-element-14c3137a > .elementor-widget-container {
  margin: -10px 0 30px 0;
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-tab-title {
  border-width: 0;
  border-color: rgba(191, 191, 191, 0);
  padding: 30px 30px 30px 30px;
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-tab-content {
  border-width: 0;
  border-bottom-color: rgba(191, 191, 191, 0);
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  padding: 15px 35px 15px 35px;
}
.elementor-22179
  .elementor-element.elementor-element-7fb10324
  .elementor-toggle-item:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-toggle-item {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-toggle-title,
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-toggle-icon {
  color: #000;
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-toggle-icon svg {
  fill: #000;
}
.elementor-22179 .elementor-element.elementor-element-7fb10324 .elementor-toggle-title {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.elementor-22179
  .elementor-element.elementor-element-7fb10324
  .elementor-tab-title
  .elementor-toggle-icon
  i:before {
  color: #000;
}
.elementor-22179
  .elementor-element.elementor-element-7fb10324
  .elementor-tab-title
  .elementor-toggle-icon
  svg {
  fill: #000;
}
.elementor-22179
  .elementor-element.elementor-element-7fb10324
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  i:before {
  color: #85a43d;
}
.elementor-22179
  .elementor-element.elementor-element-7fb10324
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  svg {
  fill: #85a43d;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-22179 .elementor-element.elementor-element-318eab1a {
    padding: 100px 25px 100px 25px;
  }
  .elementor-22179
    .elementor-element.elementor-element-7b27f26b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-22179 .elementor-element.elementor-element-318eab1a {
    padding: 50px 20px 50px 20px;
  }
  .elementor-22179 .elementor-element.elementor-element-7fb10324 > .elementor-widget-container {
    padding: 15px 0 0 0;
  }
}
