.elementor-80638
  .elementor-element.elementor-element-619570d8
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80638 .elementor-element.elementor-element-619570d8 {
  padding: 101px 0 25px 0;
}
.elementor-80638 .elementor-element.elementor-element-cd83a05 {
  text-align: center;
}
.elementor-80638 .elementor-element.elementor-element-cd83a05 .elementor-heading-title {
  color: #000;
  font-size: 55px;
  font-weight: 600;
}
.elementor-80638 .elementor-element.elementor-element-47c7a694 {
  text-align: center;
}
.elementor-80638 .elementor-element.elementor-element-47c7a694 .elementor-heading-title {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 300;
}
.elementor-80638 .elementor-element.elementor-element-47c7a694 > .elementor-widget-container {
  margin: -10px 0 0 0;
}
.elementor-80638
  .elementor-element.elementor-element-2086934f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80638
  .elementor-element.elementor-element-2086934f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-80638 .elementor-element.elementor-element-2086934f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 100px 0;
}
.elementor-80638 .elementor-element.elementor-element-2086934f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80638 .elementor-element.elementor-element-3dd7cb98 iframe {
  height: 550px;
}
.elementor-80638 .elementor-element.elementor-element-3dd7cb98 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-80638 .elementor-element.elementor-element-2a6bd4cf > .elementor-container {
  max-width: 800px;
}
.elementor-80638
  .elementor-element.elementor-element-2a6bd4cf
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80638
  .elementor-element.elementor-element-2a6bd4cf:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80638
  .elementor-element.elementor-element-2a6bd4cf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-80638 .elementor-element.elementor-element-2a6bd4cf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0 0 0;
}
.elementor-80638 .elementor-element.elementor-element-2a6bd4cf > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80638 .elementor-element.elementor-element-aa95473 {
  text-align: center;
}
.elementor-80638 .elementor-element.elementor-element-aa95473 .elementor-heading-title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}
.elementor-80638 .elementor-element.elementor-element-50c0ae2b {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
}
.elementor-80638 .elementor-element.elementor-element-50c0ae2b > .elementor-widget-container {
  padding: 10px 0 0 0;
}
.elementor-80638 .elementor-element.elementor-element-5ee8f754 {
  text-align: center;
}
.elementor-80638 .elementor-element.elementor-element-5ee8f754 .elementor-heading-title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}
.elementor-80638 .elementor-element.elementor-element-7fc6ab63 {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
}
.elementor-80638 .elementor-element.elementor-element-7fc6ab63 > .elementor-widget-container {
  padding: 10px 0 0 0;
}
.elementor-80638 .elementor-element.elementor-element-78b46e6 > .elementor-container {
  max-width: 800px;
}
.elementor-80638
  .elementor-element.elementor-element-78b46e6
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80638
  .elementor-element.elementor-element-78b46e6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80638
  .elementor-element.elementor-element-78b46e6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-80638 .elementor-element.elementor-element-78b46e6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0 0 0;
}
.elementor-80638 .elementor-element.elementor-element-78b46e6 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80638 .elementor-element.elementor-element-48990a3 {
  text-align: center;
}
.elementor-80638 .elementor-element.elementor-element-48990a3 .elementor-heading-title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}
.elementor-80638 .elementor-element.elementor-element-6bd7e81 {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
}
.elementor-80638 .elementor-element.elementor-element-6bd7e81 > .elementor-widget-container {
  padding: 10px 0 0 0;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-80638 .elementor-element.elementor-element-619570d8 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80638 .elementor-element.elementor-element-cd83a05 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80638 .elementor-element.elementor-element-2086934f {
    padding: 0 0 100px 0;
  }
}
@media (max-width: 767px) {
  .elementor-80638 .elementor-element.elementor-element-619570d8 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80638 .elementor-element.elementor-element-cd83a05 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80638 .elementor-element.elementor-element-47c7a694 .elementor-heading-title {
    line-height: 1.6em;
  }
  .elementor-80638 .elementor-element.elementor-element-2086934f {
    padding: 0 0 50px 0;
  }
}
