.elementor-80576 .elementor-element.elementor-element-6978ee5 > .elementor-container {
  max-width: 700px;
  min-height: 500px;
}
.elementor-80576
  .elementor-element.elementor-element-6978ee5
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80576
  .elementor-element.elementor-element-6978ee5
  .elementor-background-slideshow__slide__image {
  background-size: cover;
  background-position: center center;
}
.elementor-80576 .elementor-element.elementor-element-6978ee5 > .elementor-background-overlay {
  background-color: var(--e-global-color-accent);
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576 .elementor-element.elementor-element-6978ee5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 75px 25px 75px;
}
.elementor-80576 .elementor-element.elementor-element-6978ee5 > .elementor-shape-bottom svg {
  width: calc(100% + 1.3px);
  height: 152px;
}
.elementor-80576 .elementor-element.elementor-element-fced9be .elementor-heading-title {
  color: #fff;
  font-family: 'Poppins', Sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2em;
}
.elementor-80576 .elementor-element.elementor-element-fced9be > .elementor-widget-container {
  margin: -148px -46px -46px -46px;
  padding: -14px 0 -20px 0;
}
.elementor-80576 .elementor-element.elementor-element-baf8c8b {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-80576 .elementor-element.elementor-element-baf8c8b > .elementor-widget-container {
  margin: 0 75px 0 100px;
}
.elementor-80576 .elementor-element.elementor-element-f287d01 {
  --spacer-size: 50px;
}
.elementor-80576 .elementor-element.elementor-element-8f423c5 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #f5891f;
}
.elementor-80576 .elementor-element.elementor-element-8f423c5 > .elementor-widget-container {
  margin: 0;
}
.elementor-80576 .elementor-element.elementor-element-cfbc20a {
  --spacer-size: 50px;
}
.elementor-80576 .elementor-element.elementor-element-89e9d5f > .elementor-container {
  max-width: 500px;
}
.elementor-80576
  .elementor-element.elementor-element-89e9d5f
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80576 .elementor-element.elementor-element-89e9d5f:hover {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
}
.elementor-80576 .elementor-element.elementor-element-89e9d5f > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/04/hanging-heart.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.elementor-80576
  .elementor-element.elementor-element-89e9d5f:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.5;
}
.elementor-80576 .elementor-element.elementor-element-89e9d5f {
  padding: 50px 0 50px 0;
}
.elementor-80576 .elementor-element.elementor-element-fe6ea10 {
  text-align: center;
}
.elementor-80576 .elementor-element.elementor-element-fe6ea10 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-size: 54px;
  font-weight: 600;
}
.elementor-80576 .elementor-element.elementor-element-fe6ea10 > .elementor-widget-container {
  margin: 38px 38px 38px 38px;
}
.elementor-80576
  .elementor-element.elementor-element-21ca918:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80576
  .elementor-element.elementor-element-21ca918
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-80576 .elementor-element.elementor-element-21ca918 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80576 .elementor-element.elementor-element-21ca918 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576 .elementor-element.elementor-element-ff629ec {
  --spacer-size: 50px;
}
.elementor-80576
  .elementor-element.elementor-element-d7e1929.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-d7e1929.elementor-view-framed .elementor-icon,
.elementor-80576
  .elementor-element.elementor-element-d7e1929.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-d7e1929 {
  --icon-box-icon-margin: 15px;
}
.elementor-80576 .elementor-element.elementor-element-d7e1929 .elementor-icon {
  font-size: 60px;
}
.elementor-80576 .elementor-element.elementor-element-353c7a4 {
  --spacer-size: 50px;
}
.elementor-80576
  .elementor-element.elementor-element-ba3ab20.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-ba3ab20.elementor-view-framed .elementor-icon,
.elementor-80576
  .elementor-element.elementor-element-ba3ab20.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-ba3ab20 {
  --icon-box-icon-margin: 15px;
}
.elementor-80576 .elementor-element.elementor-element-ba3ab20 .elementor-icon {
  font-size: 60px;
}
.elementor-80576 .elementor-element.elementor-element-4772782 {
  --spacer-size: 50px;
}
.elementor-80576
  .elementor-element.elementor-element-2f0ded6.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-2f0ded6.elementor-view-framed .elementor-icon,
.elementor-80576
  .elementor-element.elementor-element-2f0ded6.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-2f0ded6 {
  --icon-box-icon-margin: 15px;
}
.elementor-80576 .elementor-element.elementor-element-2f0ded6 .elementor-icon {
  font-size: 60px;
}
.elementor-80576
  .elementor-element.elementor-element-4057c39:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80576
  .elementor-element.elementor-element-4057c39
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-80576 .elementor-element.elementor-element-4057c39 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80576 .elementor-element.elementor-element-4057c39 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576
  .elementor-element.elementor-element-f038b14
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 0.5;
}
.elementor-80576 .elementor-element.elementor-element-f038b14 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-80576
  .elementor-element.elementor-element-f038b14
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576 .elementor-element.elementor-element-7b98c29 {
  --spacer-size: 50px;
}
.elementor-80576 .elementor-element.elementor-element-7804204 {
  --spacer-size: 40px;
}
.elementor-80576
  .elementor-element.elementor-element-1eedf354
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80576
  .elementor-element.elementor-element-1eedf354:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80576
  .elementor-element.elementor-element-1eedf354
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #707070;
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/04/rocks-balanced.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-80576 .elementor-element.elementor-element-1eedf354 > .elementor-background-overlay {
  background-color: var(--e-global-color-4666813);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576
  .elementor-element.elementor-element-1eedf354:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-3097d598);
  opacity: 0.5;
}
.elementor-80576 .elementor-element.elementor-element-1eedf354 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-80576 .elementor-element.elementor-element-2c0f9672 {
  text-align: center;
}
.elementor-80576 .elementor-element.elementor-element-2c0f9672 .elementor-heading-title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.elementor-80576 .elementor-element.elementor-element-2c0f9672 > .elementor-widget-container {
  margin: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;
}
.elementor-80576
  .elementor-element.elementor-element-26bf84a
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80576
  .elementor-element.elementor-element-26bf84a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80576
  .elementor-element.elementor-element-26bf84a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
}
.elementor-80576 .elementor-element.elementor-element-26bf84a:hover {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
}
.elementor-80576 .elementor-element.elementor-element-26bf84a > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576
  .elementor-element.elementor-element-26bf84a:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.5;
}
.elementor-80576 .elementor-element.elementor-element-26bf84a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-80576 .elementor-element.elementor-element-510d501 {
  text-align: center;
}
.elementor-80576 .elementor-element.elementor-element-510d501 .elementor-heading-title {
  color: #202020;
  font-size: 55px;
  font-weight: 600;
}
.elementor-80576 .elementor-element.elementor-element-61dd196 {
  --spacer-size: 50px;
}
.elementor-80576 .elementor-element.elementor-element-77c3516 {
  --spacer-size: 50px;
}
.elementor-80576 .elementor-element.elementor-element-18f4ea7 {
  --spacer-size: 60px;
}
.elementor-80576 .elementor-element.elementor-element-1e47a19 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-80576 .elementor-element.elementor-element-0660a6e {
  --spacer-size: 50px;
}
.elementor-80576
  .elementor-element.elementor-element-d15c903
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-80576
  .elementor-element.elementor-element-d15c903:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-80576
  .elementor-element.elementor-element-d15c903
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
}
.elementor-80576 .elementor-element.elementor-element-d15c903:hover {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--e-global-color-52af2de2) 0,
    var(--e-global-color-52af2de2) 100%
  );
}
.elementor-80576 .elementor-element.elementor-element-d15c903 > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-80576
  .elementor-element.elementor-element-d15c903:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.5;
}
.elementor-80576 .elementor-element.elementor-element-d15c903 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-80576 .elementor-element.elementor-element-e26400c {
  text-align: center;
}
.elementor-80576 .elementor-element.elementor-element-e26400c .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-size: 55px;
  font-weight: 600;
}
.elementor-80576 .elementor-element.elementor-element-d403b83 {
  --spacer-size: 60px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-80576 .elementor-element.elementor-element-31957c9 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-80576 .elementor-element.elementor-element-6978ee5 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-89e9d5f {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-fe6ea10 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-1eedf354 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-2c0f9672 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-26bf84a {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-510d501 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-d15c903 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-e26400c .elementor-heading-title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .elementor-80576 .elementor-element.elementor-element-6978ee5 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80576 .elementor-element.elementor-element-d1845bc {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-80576 .elementor-element.elementor-element-baf8c8b > .elementor-widget-container {
    margin: 0 20px 0 25px;
  }
  .elementor-80576 .elementor-element.elementor-element-89e9d5f {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80576 .elementor-element.elementor-element-fe6ea10 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-1eedf354 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80576 .elementor-element.elementor-element-2c0f9672 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-26bf84a {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80576 .elementor-element.elementor-element-510d501 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-80576 .elementor-element.elementor-element-d15c903 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-80576 .elementor-element.elementor-element-e26400c .elementor-heading-title {
    font-size: 45px;
  }
}
