.elementor-93153 .elementor-element.elementor-element-a3c3b49 > .elementor-container {
  min-height: 600px;
}
.elementor-93153
  .elementor-element.elementor-element-a3c3b49:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-a3c3b49
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/08/surface-8HPLpr3hebU-unsplash-scaled.jpg');
  background-position: 1px -240px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-93153 .elementor-element.elementor-element-a3c3b49 > .elementor-background-overlay {
  background-color: #8b5399;
  opacity: 0.64;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-a3c3b49 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153
  .elementor-element.elementor-element-a3c3b49
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-52af2de2);
}
.elementor-93153 .elementor-element.elementor-element-a3c3b49 > .elementor-shape-bottom svg {
  height: 67px;
}
.elementor-93153 .elementor-element.elementor-element-5b7cd9b3 {
  padding: 0;
}
.elementor-93153 .elementor-element.elementor-element-414a4638 {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-414a4638 .elementor-heading-title {
  color: var(--e-global-color-72846967);
  font-size: 80px;
}
.elementor-93153 .elementor-element.elementor-element-24002e3b {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}
.elementor-93153 .elementor-element.elementor-element-24002e3b > .elementor-widget-container {
  margin: 0;
  padding: 0 20px 0 0;
  border-radius: 0;
}
.elementor-93153 .elementor-element.elementor-element-a0d5c03 {
  --spacer-size: 25px;
}
.elementor-93153 .elementor-element.elementor-element-0b4e154 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153 .elementor-element.elementor-element-02e1f6e .elementor-swiper-button {
  font-size: 20px;
}
.elementor-93153
  .elementor-element.elementor-element-3f220b7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-3f220b7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-93153 .elementor-element.elementor-element-3f220b7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-3f220b7 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-477603f {
  --spacer-size: 50px;
}
.elementor-93153
  .elementor-element.elementor-element-1cc3cc2e
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-1cc3cc2e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-1cc3cc2e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-1cc3cc2e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 0 10px 0;
}
.elementor-93153 .elementor-element.elementor-element-1cc3cc2e > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-67938a2f {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-67938a2f .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-93153 .elementor-element.elementor-element-67938a2f > .elementor-widget-container {
  margin: 0;
  padding: 25px 0 0 0;
}
.elementor-93153 .elementor-element.elementor-element-12c6ce4a {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-93153
  .elementor-element.elementor-element-218d1253:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-218d1253
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-218d1253 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-218d1253 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153
  .elementor-element.elementor-element-20caf3b6.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153
  .elementor-element.elementor-element-20caf3b6.elementor-view-framed
  .elementor-icon,
.elementor-93153
  .elementor-element.elementor-element-20caf3b6.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 {
  --icon-box-icon-margin: 0;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon {
  font-size: 50px;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-title,
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-93153 .elementor-element.elementor-element-20caf3b6 > .elementor-widget-container {
  padding: 0;
}
.elementor-93153 .elementor-element.elementor-element-ec64e67 > .elementor-widget-container {
  margin: 5px 0 0 0;
}
.elementor-93153
  .elementor-element.elementor-element-3247ec59.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153
  .elementor-element.elementor-element-3247ec59.elementor-view-framed
  .elementor-icon,
.elementor-93153
  .elementor-element.elementor-element-3247ec59.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 {
  --icon-box-icon-margin: 0;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon {
  font-size: 50px;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-title,
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-93153 .elementor-element.elementor-element-3247ec59 > .elementor-widget-container {
  padding: 0 3px 10px 3px;
}
.elementor-93153
  .elementor-element.elementor-element-7d2f4d41.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153
  .elementor-element.elementor-element-7d2f4d41.elementor-view-framed
  .elementor-icon,
.elementor-93153
  .elementor-element.elementor-element-7d2f4d41.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-5c77a7d4);
  color: var(--e-global-color-5c77a7d4);
  border-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 {
  --icon-box-icon-margin: 0;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon {
  font-size: 50px;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #000;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-title,
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-title a {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-description {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}
.elementor-93153 .elementor-element.elementor-element-7d2f4d41 > .elementor-widget-container {
  padding: 0 0 2px 0;
}
.elementor-93153 .elementor-element.elementor-element-3121b44 > .elementor-widget-container {
  margin: 8px 0 0 0;
}
.elementor-93153
  .elementor-element.elementor-element-2010850:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-2010850
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-2010850 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-2010850 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-7f901b6 {
  --spacer-size: 75px;
}
.elementor-93153
  .elementor-element.elementor-element-1ebb70ba
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-1ebb70ba:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-1ebb70ba
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/05/High-five.png');
  background-position: center center;
  background-size: cover;
}
.elementor-93153 .elementor-element.elementor-element-1ebb70ba > .elementor-background-overlay {
  background-color: var(--e-global-color-72846967);
  opacity: 0.66;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-1ebb70ba {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0 150px 0;
}
.elementor-93153 .elementor-element.elementor-element-6a1d824 {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-6a1d824 > .elementor-widget-container {
  padding: 0 65px 0 65px;
}
.elementor-93153 .elementor-element.elementor-element-5f8b9af {
  text-align: center;
}
.elementor-93153
  .elementor-element.elementor-element-f3834a1
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-f3834a1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-f3834a1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-93153 .elementor-element.elementor-element-f3834a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-93153 .elementor-element.elementor-element-f3834a1 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-bac54f3 {
  --spacer-size: 50px;
}
.elementor-93153 .elementor-element.elementor-element-41f247e {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-41f247e .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-93153 .elementor-element.elementor-element-41f247e > .elementor-widget-container {
  margin: -3px -3px -3px -3px;
  padding: -12px -12px -12px -12px;
}
.elementor-93153
  .elementor-element.elementor-element-d2501f9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-d2501f9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-93153 .elementor-element.elementor-element-d2501f9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-d2501f9 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-4a4b280 .elementor-button {
  background-color: var(--e-global-color-5c77a7d4);
}
.elementor-93153 .elementor-element.elementor-element-016104b {
  --spacer-size: 50px;
}
.elementor-93153
  .elementor-element.elementor-element-4ee4469
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-4ee4469:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-4ee4469
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-4ee4469 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 0 10px 0;
}
.elementor-93153 .elementor-element.elementor-element-4ee4469 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-0096d17 {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-0096d17 .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-93153 .elementor-element.elementor-element-0096d17 > .elementor-widget-container {
  margin: 0;
  padding: 25px 0 0 0;
}
.elementor-93153 .elementor-element.elementor-element-8d9194f {
  column-gap: 0;
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-93153 .elementor-element.elementor-element-d40d48e {
  --spacer-size: 50px;
}
.elementor-93153
  .elementor-element.elementor-element-039a5ee:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-039a5ee
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-039a5ee {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-039a5ee > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-36c8812
  .swiper-slide-bg {
  background-color: #833ca3;
  background-image: url(https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/08/surface-8HPLpr3hebU-unsplash-scaled.jpg);
  background-size: cover;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-36c8812
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-36c8812
  .swiper-slide-inner {
  align-items: flex-end;
  text-align: left;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-764968f
  .swiper-slide-bg {
  background-color: #4054b2;
  background-image: url(https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/07/mature-businesswoman-standing-and-leading-office-m-Y372HMQ.jpg);
  background-size: cover;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-764968f
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-764968f
  .swiper-slide-inner {
  align-items: flex-start;
  text-align: right;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-7789e86
  .swiper-slide-bg {
  background-color: #1abc9c;
  background-image: url(https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2021/05/business-development-scaled.jpg);
  background-size: cover;
}
.elementor-93153
  .elementor-element.elementor-element-3dede34
  .elementor-repeater-item-7789e86
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-93153 .elementor-element.elementor-element-3dede34 .swiper-slide {
  height: 400px;
  transition-duration: calc(5000ms * 1.2);
}
.elementor-93153 .elementor-element.elementor-element-3dede34 .swiper-slide-contents {
  max-width: 66%;
}
.elementor-93153 .elementor-element.elementor-element-3dede34 .swiper-slide-inner {
  text-align: center;
}
.elementor-93153
  .elementor-element.elementor-element-4eb32bc:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-4eb32bc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-4eb32bc {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-4eb32bc > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-b526c8b {
  text-align: center;
  font-family: 'Poppins', Sans-serif;
  font-size: 10px;
  font-weight: 200;
  font-style: italic;
}
.elementor-93153
  .elementor-element.elementor-element-82b4c1c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-82b4c1c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-82b4c1c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-82b4c1c > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153
  .elementor-element.elementor-element-31b04849
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-31b04849:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-31b04849
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-52af2de2);
}
.elementor-93153 .elementor-element.elementor-element-31b04849 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-93153 .elementor-element.elementor-element-31b04849 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-1674e261 {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-93153 .elementor-element.elementor-element-1674e261 > .elementor-widget-container {
  margin: -3px -3px -3px -3px;
  padding: -12px -12px -12px -12px;
}
.elementor-93153 .elementor-element.elementor-element-342802c9 {
  text-align: center;
  color: #7a7a7a;
  font-weight: normal;
}
.elementor-93153 .elementor-element.elementor-element-b3942cc {
  --e-image-carousel-slides-to-show: 5;
}
.elementor-93153
  .elementor-element.elementor-element-b3942cc
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-93153
  .elementor-element.elementor-element-b3942cc
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 20px;
}
.elementor-93153 .elementor-element.elementor-element-b3942cc .swiper-wrapper {
  display: flex;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-b735ed2
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-93153
  .elementor-element.elementor-element-b735ed2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-b735ed2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-b735ed2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0 50px 0;
}
.elementor-93153 .elementor-element.elementor-element-b735ed2 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-0e5d9c1 {
  text-align: center;
}
.elementor-93153 .elementor-element.elementor-element-0e5d9c1 .elementor-heading-title {
  color: #000;
  font-size: 50px;
  font-weight: 600;
}
.elementor-93153 .elementor-element.elementor-element-0e5d9c1 > .elementor-widget-container {
  margin: -3px -3px -3px -3px;
  padding: -12px -12px -12px -12px;
}
.elementor-93153
  .elementor-element.elementor-element-e3a0f25:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-93153
  .elementor-element.elementor-element-e3a0f25
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-72846967);
}
.elementor-93153 .elementor-element.elementor-element-e3a0f25 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-93153 .elementor-element.elementor-element-e3a0f25 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-msie
  .elementor-93153
  .elementor-element.elementor-global-94083
  .elementor-portfolio-item {
  width: calc(100% / 3);
}
.elementor-93153 .elementor-element.elementor-global-94083 .elementor-post__thumbnail__link {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-93153 .elementor-element.elementor-global-94083:after {
  content: '0.66';
  position: absolute;
  color: transparent;
}
.elementor-93153 .elementor-element.elementor-element-1d3351a {
  --spacer-size: 50px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-93153
    .elementor-element.elementor-element-a3c3b49:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-93153
    .elementor-element.elementor-element-a3c3b49
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0 0;
  }
  .elementor-93153 .elementor-element.elementor-element-1cc3cc2e {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-67938a2f .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-1ebb70ba {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-f3834a1 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-41f247e .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-4ee4469 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-0096d17 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-31b04849 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-b735ed2 {
    padding: 100px 25px 100px 25px;
  }
  .elementor-93153 .elementor-element.elementor-element-0e5d9c1 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-msie
    .elementor-93153
    .elementor-element.elementor-global-94083
    .elementor-portfolio-item {
    width: calc(100% / 2);
  }
}
@media (max-width: 767px) {
  .elementor-93153
    .elementor-element.elementor-element-a3c3b49:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-93153
    .elementor-element.elementor-element-a3c3b49
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0 0;
  }
  .elementor-93153 .elementor-element.elementor-element-414a4638 .elementor-heading-title {
    font-size: 65px;
  }
  .elementor-93153 .elementor-element.elementor-element-24002e3b {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-24002e3b > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
  .elementor-93153 .elementor-element.elementor-element-1cc3cc2e {
    padding: 50px 20px 50px 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-67938a2f {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-67938a2f .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-12c6ce4a {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-title,
  .elementor-93153 .elementor-element.elementor-element-20caf3b6 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-title,
  .elementor-93153 .elementor-element.elementor-element-3247ec59 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-wrapper {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-title,
  .elementor-93153 .elementor-element.elementor-element-7d2f4d41 .elementor-icon-box-title a {
    font-size: 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-1ebb70ba {
    padding: 50px 20px 50px 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-f3834a1 {
    padding: 50px 20px 0 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-41f247e .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-4ee4469 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-0096d17 {
    text-align: center;
  }
  .elementor-93153 .elementor-element.elementor-element-0096d17 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-8d9194f {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-93153 .elementor-element.elementor-element-31b04849 {
    padding: 50px 20px 0 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-1674e261 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-93153 .elementor-element.elementor-element-342802c9 {
    text-align: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .elementor-93153 .elementor-element.elementor-element-b735ed2 {
    padding: 50px 20px 0 20px;
  }
  .elementor-93153 .elementor-element.elementor-element-0e5d9c1 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-msie
    .elementor-93153
    .elementor-element.elementor-global-94083
    .elementor-portfolio-item {
    width: calc(100% / 1);
  }
}
