.elementor-83472 .elementor-element.elementor-element-b7de082 > .elementor-container {
  min-height: 600px;
}
.elementor-83472
  .elementor-element.elementor-element-b7de082:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-83472
  .elementor-element.elementor-element-b7de082
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url('https://raw.githubusercontent.com/mmmohajer/troop-wp-images/master/uploads/2019/07/mom-and-child-touching-noses.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-83472 .elementor-element.elementor-element-b7de082 > .elementor-background-overlay {
  background-color: #feba13;
  opacity: 0.75;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-83472 .elementor-element.elementor-element-b7de082 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-83472 .elementor-element.elementor-element-3c4f966 {
  text-align: center;
}
.elementor-83472 .elementor-element.elementor-element-3c4f966 .elementor-heading-title {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.elementor-83472 .elementor-element.elementor-element-3c4f966 > .elementor-widget-container {
  padding: 0 0 0 1px;
}
.elementor-83472 .elementor-element.elementor-element-e4847ec {
  text-align: center;
}
.elementor-83472 .elementor-element.elementor-element-e4847ec .elementor-heading-title {
  color: #fff;
  font-size: 72px;
}
.elementor-83472 .elementor-element.elementor-element-e4847ec > .elementor-widget-container {
  margin: -10px 0 0 0;
  padding: 0 5% 0 5%;
}
.elementor-83472 .elementor-element.elementor-element-864106b {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.elementor-83472 .elementor-element.elementor-element-864106b > .elementor-widget-container {
  padding: 0 15% 0 15%;
}
.elementor-83472 .elementor-element.elementor-element-d27141f {
  padding: 50px 0 0 0;
}
.elementor-83472 .elementor-element.elementor-element-5715168 {
  text-align: left;
}
.elementor-83472 .elementor-element.elementor-element-5715168 .elementor-heading-title {
  font-size: 60px;
}
.elementor-83472 .elementor-element.elementor-element-d553459 > .elementor-widget-container {
  padding: 10px 0 20px 0;
}
.elementor-83472
  .elementor-element.elementor-element-e5fbb8c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-83472 .elementor-element.elementor-element-46732be {
  --spacer-size: 41px;
}
.elementor-83472
  .elementor-element.elementor-element-1211ad6:not(.premium-title-icon-column)
  .premium-title-header {
  justify-content: flex-start;
}
.elementor-83472
  .elementor-element.elementor-element-1211ad6.premium-title-icon-column
  .premium-title-header {
  align-items: flex-start;
}
.elementor-83472 .elementor-element.elementor-element-1211ad6 .premium-title-header {
  color: #7a7a7a;
}
.elementor-83472
  .elementor-element.elementor-element-1211ad6.premium-title-stroke-yes
  .premium-title-text {
  -webkit-text-fill-color: #7a7a7a;
}
.elementor-83472
  .elementor-element.elementor-element-1211ad6
  .premium-title-style8
  .premium-title-text[data-animation='shiny'] {
  --base-color: #7a7a7a;
}
.elementor-83472 .elementor-element.elementor-element-1211ad6 .premium-title-container {
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #0fafa3;
}
.elementor-83472 .elementor-element.elementor-element-1211ad6 > .elementor-widget-container {
  padding: 0;
}
.elementor-83472 .elementor-element.elementor-element-5e434a1 {
  text-align: left;
}
.elementor-83472 .elementor-element.elementor-element-5e434a1 > .elementor-widget-container {
  margin: 0;
  padding: 20px 0 0 0;
}
.elementor-83472
  .elementor-element.elementor-element-e2cef35
  .elementor-nav-menu--main
  .elementor-item {
  color: #7a7a7a;
  fill: #7a7a7a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-83472 .elementor-element.elementor-element-e2cef35 {
  --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
}
.elementor-83472
  .elementor-element.elementor-element-e2cef35
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 0;
}
.elementor-83472 .elementor-element.elementor-element-e2cef35 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-83472 .elementor-element.elementor-element-ac9d202 {
  text-align: left;
}
.elementor-83472 .elementor-element.elementor-element-ac9d202 > .elementor-widget-container {
  padding: 20px 0 0 0;
}
.elementor-83472
  .elementor-element.elementor-element-0af1ba8
  .elementor-nav-menu--main
  .elementor-item {
  color: #7a7a7a;
  fill: #7a7a7a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-83472 .elementor-element.elementor-element-0af1ba8 {
  --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
}
.elementor-83472
  .elementor-element.elementor-element-0af1ba8
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 0;
}
.elementor-83472 .elementor-element.elementor-element-0af1ba8 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-83472 .elementor-element.elementor-element-875d104 {
  text-align: left;
}
.elementor-83472 .elementor-element.elementor-element-875d104 > .elementor-widget-container {
  padding: 20px 0 0 0;
}
.elementor-83472
  .elementor-element.elementor-element-93a8563
  .elementor-nav-menu--main
  .elementor-item {
  color: #7a7a7a;
  fill: #7a7a7a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-83472 .elementor-element.elementor-element-93a8563 {
  --e-nav-menu-horizontal-menu-item-margin: calc(60px / 2);
}
.elementor-83472
  .elementor-element.elementor-element-93a8563
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 60px;
}
.elementor-83472 .elementor-element.elementor-element-93a8563 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-83472 .elementor-element.elementor-element-04a5563 .elementor-search-form__container {
  min-height: 50px;
}
.elementor-83472 .elementor-element.elementor-element-04a5563 .elementor-search-form__submit {
  min-width: 50px;
}
body:not(.rtl)
  .elementor-83472
  .elementor-element.elementor-element-04a5563
  .elementor-search-form__icon {
  padding-left: calc(50px / 3);
}
body.rtl
  .elementor-83472
  .elementor-element.elementor-element-04a5563
  .elementor-search-form__icon {
  padding-right: calc(50px / 3);
}
.elementor-83472 .elementor-element.elementor-element-04a5563 .elementor-search-form__input,
.elementor-83472
  .elementor-element.elementor-element-04a5563.elementor-search-form--button-type-text
  .elementor-search-form__submit {
  padding-left: calc(50px / 3);
  padding-right: calc(50px / 3);
}
.elementor-83472
  .elementor-element.elementor-element-04a5563:not(.elementor-search-form--skin-full_screen)
  .elementor-search-form__container {
  border-radius: 3px;
}
.elementor-83472
  .elementor-element.elementor-element-04a5563.elementor-search-form--skin-full_screen
  input[type='search'].elementor-search-form__input {
  border-radius: 3px;
}
.elementor-83472
  .elementor-element.elementor-element-5f34e8e
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-83472 .elementor-element.elementor-element-5f34e8e:after {
  content: '0.66';
}
.elementor-83472
  .elementor-element.elementor-element-5f34e8e
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-83472 .elementor-element.elementor-element-5f34e8e {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-83472 .elementor-element.elementor-element-5f34e8e .elementor-post__text {
  margin-top: 20px;
}
.elementor-83472 .elementor-element.elementor-element-5f34e8e .elementor-post__badge {
  right: 0;
}
.elementor-83472
  .elementor-element.elementor-element-5f34e8e
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-83472 .elementor-element.elementor-element-f6c9d56 {
  --spacer-size: 25px;
}
@media (min-width: 768px) {
  .elementor-83472 .elementor-element.elementor-element-e5fbb8c {
    width: 25%;
  }
  .elementor-83472 .elementor-element.elementor-element-8c566d3 {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .elementor-83472 .elementor-element.elementor-element-b7de082 > .elementor-container {
    min-height: 550px;
  }
  .elementor-83472 .elementor-element.elementor-element-3c4f966 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-83472 .elementor-element.elementor-element-e4847ec .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-83472 .elementor-element.elementor-element-e4847ec > .elementor-widget-container {
    padding: 0 1% 0 1%;
  }
  .elementor-83472 .elementor-element.elementor-element-864106b > .elementor-widget-container {
    padding: 0 7% 0 7%;
  }
  .elementor-83472
    .elementor-element.elementor-element-5f34e8e
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-83472 .elementor-element.elementor-element-5f34e8e:after {
    content: '0.5';
  }
}
