.elementor-84137 .elementor-element.elementor-element-5eb3e06c > .elementor-container {
  min-height: 400px;
}
.elementor-84137 .elementor-element.elementor-element-5eb3e06c > .elementor-background-overlay {
  background-color: #7a7a7a;
  opacity: 0.55;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-5eb3e06c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-6322f639 {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-6322f639 .elementor-heading-title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-84137 .elementor-element.elementor-element-6322f639 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137
  .elementor-element.elementor-element-df8a62f
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84137
  .elementor-element.elementor-element-df8a62f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0 20px 0 0;
}
.elementor-84137 .elementor-element.elementor-element-4fd58988 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-4fd58988 > .elementor-widget-container {
  padding: 25px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-2e3d654c {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-2e3d654c > .elementor-widget-container {
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-b92ca52 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-b92ca52 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-1cb67047 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-1cb67047 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-37b9fda8 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-37b9fda8 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-51c403fd {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-51c403fd > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-47076e04 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84137
  .elementor-element.elementor-element-47076e04
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137
  .elementor-element.elementor-element-48bdd88:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84137
  .elementor-element.elementor-element-48bdd88
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #feba13;
}
.elementor-84137 .elementor-element.elementor-element-48bdd88 > .elementor-background-overlay {
  opacity: 0.55;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-48bdd88 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-507e99ef {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-507e99ef .elementor-heading-title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.2em;
}
.elementor-84137 .elementor-element.elementor-element-507e99ef > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137
  .elementor-element.elementor-element-345d786a
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(
    :last-child
  ):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-84137
  .elementor-element.elementor-element-345d786a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0 20px 0 0;
}
.elementor-84137 .elementor-element.elementor-element-273b92f0 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-273b92f0 > .elementor-widget-container {
  padding: 25px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-79a438e0 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-79a438e0 > .elementor-widget-container {
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-40ec9b79 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-40ec9b79 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-3b308e8a {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-3b308e8a > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-2e9bdbd7 {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-2e9bdbd7 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-7fd8af7f {
  text-align: left;
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-7fd8af7f > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-773ebe81 > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84137
  .elementor-element.elementor-element-773ebe81
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137
  .elementor-element.elementor-element-73756802
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0 20px 0 0;
}
.elementor-84137 .elementor-element.elementor-element-20fc56a1 {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-20fc56a1 > .elementor-widget-container {
  padding: 25px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-117fd6e0 {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-117fd6e0 > .elementor-widget-container {
  padding: 0 50px 0 0;
}
.elementor-84137 .elementor-element.elementor-element-4e02b9d > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-84137
  .elementor-element.elementor-element-4e02b9d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-23a2693f {
  --spacer-size: 75px;
}
.elementor-84137
  .elementor-element.elementor-element-2c1226d7
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0;
}
.elementor-84137
  .elementor-element.elementor-element-2c1226d7
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0;
}
.elementor-84137 .elementor-element.elementor-element-2c1226d7 .elementor-button {
  background-color: #f5891f;
}
.elementor-84137 .elementor-element.elementor-element-2c1226d7 > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-59f2cb2e .elementor-button {
  background-color: #7a7a7a;
}
.elementor-84137 .elementor-element.elementor-element-59f2cb2e > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-84137 .elementor-element.elementor-element-62cd371f {
  text-align: left;
}
.elementor-84137
  .elementor-element.elementor-element-3f21a532.elementor-view-stacked
  .elementor-icon {
  background-color: #0fafa3;
}
.elementor-84137
  .elementor-element.elementor-element-3f21a532.elementor-view-framed
  .elementor-icon,
.elementor-84137
  .elementor-element.elementor-element-3f21a532.elementor-view-default
  .elementor-icon {
  fill: #0fafa3;
  color: #0fafa3;
  border-color: #0fafa3;
}
.elementor-84137 .elementor-element.elementor-element-3f21a532 {
  --icon-box-icon-margin: 15px;
}
.elementor-84137 .elementor-element.elementor-element-3f21a532 .elementor-icon {
  font-size: 10px;
}
.elementor-84137 .elementor-element.elementor-element-3f21a532 .elementor-icon-box-title {
  color: #7a7a7a;
}
.elementor-84137
  .elementor-element.elementor-element-6a15dfac.elementor-view-stacked
  .elementor-icon {
  background-color: #0fafa3;
}
.elementor-84137
  .elementor-element.elementor-element-6a15dfac.elementor-view-framed
  .elementor-icon,
.elementor-84137
  .elementor-element.elementor-element-6a15dfac.elementor-view-default
  .elementor-icon {
  fill: #0fafa3;
  color: #0fafa3;
  border-color: #0fafa3;
}
.elementor-84137 .elementor-element.elementor-element-6a15dfac {
  --icon-box-icon-margin: 15px;
}
.elementor-84137 .elementor-element.elementor-element-6a15dfac .elementor-icon {
  font-size: 10px;
}
.elementor-84137 .elementor-element.elementor-element-6a15dfac .elementor-icon-box-title {
  color: #7a7a7a;
}
.elementor-84137
  .elementor-element.elementor-element-68496948.elementor-view-stacked
  .elementor-icon {
  background-color: #0fafa3;
}
.elementor-84137
  .elementor-element.elementor-element-68496948.elementor-view-framed
  .elementor-icon,
.elementor-84137
  .elementor-element.elementor-element-68496948.elementor-view-default
  .elementor-icon {
  fill: #0fafa3;
  color: #0fafa3;
  border-color: #0fafa3;
}
.elementor-84137 .elementor-element.elementor-element-68496948 {
  --icon-box-icon-margin: 15px;
}
.elementor-84137 .elementor-element.elementor-element-68496948 .elementor-icon {
  font-size: 10px;
}
.elementor-84137 .elementor-element.elementor-element-68496948 .elementor-icon-box-title {
  color: #7a7a7a;
}
.elementor-84137
  .elementor-element.elementor-element-3264e066.elementor-view-stacked
  .elementor-icon {
  background-color: #0fafa3;
}
.elementor-84137
  .elementor-element.elementor-element-3264e066.elementor-view-framed
  .elementor-icon,
.elementor-84137
  .elementor-element.elementor-element-3264e066.elementor-view-default
  .elementor-icon {
  fill: #0fafa3;
  color: #0fafa3;
  border-color: #0fafa3;
}
.elementor-84137 .elementor-element.elementor-element-3264e066 {
  --icon-box-icon-margin: 15px;
}
.elementor-84137 .elementor-element.elementor-element-3264e066 .elementor-icon {
  font-size: 10px;
}
.elementor-84137 .elementor-element.elementor-element-3264e066 .elementor-icon-box-title {
  color: #7a7a7a;
}
.elementor-84137
  .elementor-element.elementor-element-1e0091ec:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84137
  .elementor-element.elementor-element-1e0091ec
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84137 .elementor-element.elementor-element-1e0091ec {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 25px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-1e0091ec > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-4dc3f4e6 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}
.elementor-84137
  .elementor-element.elementor-element-2c1da53:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84137
  .elementor-element.elementor-element-2c1da53
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-84137 .elementor-element.elementor-element-2c1da53 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 15px 0;
}
.elementor-84137 .elementor-element.elementor-element-2c1da53 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-35310b9c {
  text-align: center;
  font-size: 36px;
}
.elementor-84137 .elementor-element.elementor-element-2faaf204 {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-3899a5e3 {
  text-align: center;
  font-size: 36px;
}
.elementor-84137 .elementor-element.elementor-element-4aac28ce {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-7715674e {
  text-align: center;
  font-size: 36px;
}
.elementor-84137 .elementor-element.elementor-element-68350840 {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-6c588836 {
  text-align: center;
  font-size: 36px;
}
.elementor-84137 .elementor-element.elementor-element-46a4d7f5 {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-1d40902a {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-14b09b95 {
  padding: 50px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-5613e3e6 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}
.elementor-84137 .elementor-element.elementor-element-248beafb {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-5b3c8368 {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-7674a706 {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-24c81f8e {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-10ddd28e {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-328fd077 {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-4a6e9e7c {
  text-align: left;
}
.elementor-84137 .elementor-element.elementor-element-74103339 iframe {
  height: 385px;
}
.elementor-84137 .elementor-element.elementor-element-679d53e > .elementor-container {
  min-height: 200px;
}
.elementor-84137
  .elementor-element.elementor-element-679d53e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-84137
  .elementor-element.elementor-element-679d53e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #feba13;
}
.elementor-84137 .elementor-element.elementor-element-679d53e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0 20px 0;
}
.elementor-84137 .elementor-element.elementor-element-679d53e > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-84137 .elementor-element.elementor-element-3fa63613 {
  text-align: center;
}
.elementor-84137 .elementor-element.elementor-element-3fa63613 .elementor-heading-title {
  color: #fff;
}
.elementor-84137 .elementor-element.elementor-element-18c2f007 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}
.elementor-84137
  .elementor-element.elementor-global-83366
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-84137 .elementor-element.elementor-global-83366:after {
  content: '0.66';
}
.elementor-84137
  .elementor-element.elementor-global-83366
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-84137 .elementor-element.elementor-global-83366 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-84137 .elementor-element.elementor-global-83366 .elementor-post__text {
  margin-top: 20px;
}
.elementor-84137 .elementor-element.elementor-global-83366 .elementor-post__badge {
  right: 0;
}
.elementor-84137
  .elementor-element.elementor-global-83366
  .elementor-post__card
  .elementor-post__badge {
  margin: 20px;
}
.elementor-84137 .elementor-element.elementor-element-f51bd84 {
  padding: 50px 0 0 0;
}
.elementor-84137 .elementor-element.elementor-element-92f5b98 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}
.elementor-84137
  .elementor-element.elementor-element-17470fac
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-84137 .elementor-element.elementor-element-17470fac:after {
  content: '0.66';
}
.elementor-84137
  .elementor-element.elementor-element-17470fac
  .elementor-post__meta-data
  span
  + span:before {
  content: '•';
}
.elementor-84137 .elementor-element.elementor-element-17470fac {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-84137 .elementor-element.elementor-element-17470fac .elementor-post__text {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .elementor-84137 .elementor-element.elementor-element-73756802 {
    width: 82%;
  }
  .elementor-84137 .elementor-element.elementor-element-4e02b9d {
    width: 18%;
  }
  .elementor-84137 .elementor-element.elementor-element-42ab2b42 {
    width: 35%;
  }
  .elementor-84137 .elementor-element.elementor-element-145ac69 {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .elementor-84137 .elementor-element.elementor-element-6322f639 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-84137 .elementor-element.elementor-element-507e99ef .elementor-heading-title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .elementor-84137 .elementor-element.elementor-element-6322f639 {
    text-align: center;
  }
  .elementor-84137 .elementor-element.elementor-element-6322f639 .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-84137 .elementor-element.elementor-element-4fd58988 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-2e3d654c > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-b92ca52 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-1cb67047 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-37b9fda8 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-51c403fd > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-507e99ef {
    text-align: center;
  }
  .elementor-84137 .elementor-element.elementor-element-507e99ef .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-84137 .elementor-element.elementor-element-273b92f0 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-79a438e0 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-40ec9b79 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-3b308e8a > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-2e9bdbd7 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-7fd8af7f > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-20fc56a1 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-117fd6e0 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-62cd371f > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-4dc3f4e6 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-35310b9c > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-2faaf204 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-3899a5e3 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-4aac28ce > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-7715674e > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-68350840 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-6c588836 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-46a4d7f5 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-5613e3e6 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-248beafb > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-5b3c8368 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-7674a706 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-24c81f8e > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-10ddd28e > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-328fd077 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-4a6e9e7c > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137 .elementor-element.elementor-element-18c2f007 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137
    .elementor-element.elementor-global-83366
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-84137 .elementor-element.elementor-global-83366:after {
    content: '0.5';
  }
  .elementor-84137 .elementor-element.elementor-element-92f5b98 > .elementor-widget-container {
    padding: 0 5px 0 10px;
  }
  .elementor-84137
    .elementor-element.elementor-element-17470fac
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
  }
  .elementor-84137 .elementor-element.elementor-element-17470fac:after {
    content: '0.5';
  }
}
