@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.dashboard {
  transition: $transition1;
  width: $sideBarClosedWidth;
  height: calc(100vh - $HeaderHeight);

  &IsActive {
    width: $sideBarOpenedWidth;
  }

  &Breaker {
    height: 2px;
    border-radius: 5px;
  }
}

.menuItems {
  &:hover {
    color: $themeTwo;
  }
}

.toggler {
  transition: all 0.3s ease-in-out;

  &DashboardIsClose {
    left: calc($sideBarClosedWidth - 20px);
  }

  &DashboardIsOpen {
    left: calc($sideBarOpenedWidth - 25px);
  }
}
