@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.dashboard {
  transition: $transition1;
  width: $sideBarClosedWidth;
  // transform: translateX(-$sideBarOpenedWidth);

  &IsActive {
    width: $sideBarOpenedWidth;
    // transform: translateX(0);
  }

  &Breaker {
    height: 5px;
    border-radius: 5px;
  }
}
