@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.container {
  transition: $transition1;
  margin-left: $sideBarClosedWidth;

  &WhenDashboardIsActive {
    @include atMedium {
      margin-left: $sideBarOpenedWidth;
    }
  }
}

.mainContentContainer {
  padding-top: $HeaderHeight;
}
