@import '@/styles/base/_variables';

.experienceDetailContainer {
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.experienceDetailContainerActive {
  max-height: 1000px;
}

.otherSkillsContainer {
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.otherSkillsContainerActive {
  max-height: 1000px;
}

.projectContentContainer {
  height: 0;
  transition: all 0.1s ease-in-out;
  background-color: rgba(20, 66, 114, 0.8);
}

.projectContentContainerActive {
  height: 100%;
}

.projectContentMobileContainer {
  background-color: rgba(20, 66, 114, 0.8);
  height: 100%;
}

.projectImageContainer {
  aspect-ratio: 4 / 3;
}

.projectBtn {
  background-color: rgba(82, 113, 255, 0.5);

  &:hover {
    background-color: $themeFour;
  }
}
