@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

%heightCalculator {
  min-height: calc(100vh - $HeaderHeight);
}

@keyframes arrowDownMoveAnimation {
  from {
    top: 0;
    transform: (translate(-50%, 0));
  }
  to {
    top: 100%;
    transform: (translate(-50%, -100%));
  }
}

.landingSection {
  @extend %heightCalculator;

  &LeftSide {
    @extend %heightCalculator;
  }

  &RightSide {
    @extend %heightCalculator;
  }

  &TriangleContainer {
    // @extend %heightCalculator;
    right: -50px;
    bottom: 70px;
  }

  &ContentContainer {
    @extend %heightCalculator;
  }

  &Pen {
    height: 30px;
    width: 5px;
    background-color: #ccc;
  }

  &NameContainer {
    font-size: 2rem;

    @include atMedium {
      font-size: 4rem;
    }
  }

  &SkillContainer {
    font-size: 1rem;

    @include atMedium {
      font-size: 2rem;
    }
  }

  &ArrowDownContainer {
    left: 0;
    top: 50%;
    animation-name: arrowDownMoveAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.topSkillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: flex-start;
}

.experienceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: flex-start;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  align-items: flex-start;
}

.projectCardItem {
  margin-bottom: 1rem;

  @include atMedium {
    margin-bottom: 0;
  }
}

// .contactFormContainer {
//   font-size: 1.6rem;
//   display: grid;
//   place-items: center;
//   min-height: 200px;
//   border: 8px solid;
//   padding: 1rem;
//   border-width: 10px;
//   border-image: repeating-linear-gradient(45deg, rgb(127, 200, 236), rgb(73, 19, 199) 4%) 1;
// }
