@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

%heightCalculator {
  min-height: calc(100vh - $HeaderHeight);
}

@keyframes arrowDownMoveAnimation {
  from {
    top: 0;
    transform: (translate(-50%, 0));
  }
  to {
    top: 100%;
    transform: (translate(-50%, -100%));
  }
}

.landingSection {
  @extend %heightCalculator;

  &LeftSide {
    @extend %heightCalculator;
  }

  &RightSide {
    @extend %heightCalculator;
  }

  &TriangleContainer {
    // @extend %heightCalculator;
    right: -50px;
    bottom: 70px;
  }

  &ContentContainer {
    @extend %heightCalculator;
  }

  &Pen {
    height: 30px;
    width: 5px;
    background-color: #ccc;
  }

  &NameContainer {
    font-size: 2rem;

    @include atMedium {
      font-size: 4rem;
    }
  }

  &SkillContainer {
    font-size: 1rem;

    @include atMedium {
      font-size: 2rem;
    }
  }

  &ArrowDownContainer {
    left: 0;
    top: 50%;
    animation-name: arrowDownMoveAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.topSkillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: flex-start;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.experienceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: flex-start;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  align-items: flex-start;
}

.projectCardItem {
  margin-bottom: 1rem;

  @include atMedium {
    margin-bottom: 0;
  }
}

.testimonialContainer {
  max-width: 800px;
  margin-bottom: 1rem;
  // background-color: $themeFive;
  // border: 8px solid;
  // border-width: 8px;
  // border-image: repeating-linear-gradient(45deg, rgb(127, 200, 236), rgb(73, 19, 199) 4%) 1;

  // background-color: $themeFive;
  // border: solid 5vmin #eee;
  // border-bottom-color: #fff;
  // border-left-color: #eee;
  // border-radius: 2px;
  // border-right-color: #eee;
  // border-top-color: #ddd;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  // box-sizing: border-box;
  // // display: inline-block;
  // // margin: 10vh 10vw;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 1rem;
  // padding: 8vmin;
  // position: relative;
  // text-align: center;
  // &:before {
  //   border-radius: 2px;
  //   bottom: -2vmin;
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  //   content: '';
  //   left: -2vmin;
  //   position: absolute;
  //   right: -2vmin;
  //   top: -2vmin;
  // }
  // &:after {
  //   border-radius: 2px;
  //   bottom: -2.5vmin;
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  //   content: '';
  //   left: -2.5vmin;
  //   position: absolute;
  //   right: -2.5vmin;
  //   top: -2.5vmin;
  // }
}

// .contactFormContainer {
//   font-size: 1.6rem;
//   display: grid;
//   place-items: center;
//   min-height: 200px;
//   border: 8px solid;
//   padding: 1rem;
//   border-width: 10px;
//   border-image: repeating-linear-gradient(45deg, rgb(127, 200, 236), rgb(73, 19, 199) 4%) 1;
// }
