@import '@/styles/base/_variables';

.fullHeight {
  background-color: rgba($color: #000000, $alpha: 0.6);
}

%loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &::after {
    content: '';
    border: solid $themeFour;
    border-top-color: $themeOne;
    border-radius: 50%;
    animation: loading 1s ease infinite;
  }
}

.loading {
  @extend %loading;

  &::after {
    width: 50px;
    height: 50px;
    border-width: 10px;
  }
}

.loading2 {
  @extend %loading;

  &::after {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
