@import '@/styles/base/_variables';
@import '@/styles/base/mixins';

.footerContainer {
  height: $footerHeightInMobile;

  @include atMedium {
    height: $footerHeightInDesktop;
  }
}

.copyRightContainer {
  height: $copyRightHeightInMobile;

  @include atMedium {
    height: $copyRightHeightInDesktop;
  }
}
