@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

$closeContainerHeight: 40px;

.modalContainer {
  // border: solid 3px $themeFour;
  // border-top: none;
  max-width: 700px;
  min-width: 350px;
  max-height: 85vh;
  overflow: hidden;

  @include atMedium {
    max-height: 90vh;
  }
}

.mainContentContainer {
  max-height: calc(85vh - $closeContainerHeight);

  @include atMedium {
    max-height: calc(90vh - $closeContainerHeight);
  }
}

.celeberationBg {
  background-image: url('../../assets/images/js-Images/general/celeberation.png');
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
