@import '@/styles/base/_variables';
@import '@/styles/base/_mixins';

.sideBar {
  &Container {
    margin-top: $HeaderHeight;
  }
}

.headerAndBodyContianer {
  overflow-y: auto;

  @include atMedium {
    overflow-y: hidden;
  }
}

.bodyContainer {
  @include atMedium {
    overflow-y: auto;
    height: calc(100vh - $HeaderHeight);
  }
}

.container {
  transition: $transition1;
  @include atMedium {
    margin-left: $sideBarClosedWidth;
  }

  &WhenDashboardIsActive {
    @include atMedium {
      margin-left: $sideBarOpenedWidth;
    }
  }
}

.mainContentContainer {
  padding-top: $HeaderHeight;
}

.scrollToTopContainer {
  bottom: 1rem;
  right: 2rem;
}
