.br-color-primary {
  border-color: $primaryColor;
}

.br-color-faded {
  border-color: $fadedColor;
}

.br-color-info {
  border-color: $infoColor;
}

.br-color-inverse {
  border-color: $inverseColor;
}

.br-color-success {
  border-color: $successColor;
}

.br-color-warning {
  border-color: $warningColor;
}

.br-color-danger {
  border-color: $dangerColor;
}

.br-color-themeOne {
  border-color: $themeOne;
}

.br-color-themeTwo {
  border-color: $themeTwo;
}

.br-color-themeThree {
  border-color: $themeThree;
}

.br-color-themeFour {
  border-color: $themeFour;
}

.br-color-grayDark {
  border-color: $appGrayDarkColor;
}

.br-color-grayBright {
  border-color: $appGrayBrightColor;
}
