.text {
  &Primary {
    color: $primaryColor;
  }

  &Faded {
    color: $fadedColor;
  }

  &Info {
    color: $infoColor;
  }

  &Inverse {
    color: $inverseColor;
  }

  &Success {
    color: $successColor;
  }

  &Warning {
    color: $warningColor;
  }

  &Danger {
    color: $dangerColor;
  }

  &ThemeOne {
    color: $themeOne;
  }

  &ThemeTwo {
    color: $themeTwo;
  }

  &ThemeThree {
    color: $themeThree;
  }

  &ThemeFour {
    color: $themeFour;
  }
}

.bg {
  &Primary {
    background-color: $primaryColor;
  }

  &Faded {
    background-color: $fadedColor;
  }

  &Info {
    background-color: $infoColor;
  }

  &Inverse {
    background-color: $inverseColor;
  }

  &Success {
    background-color: $successColor;
  }

  &Warning {
    background-color: $warningColor;
  }

  &Danger {
    background-color: $dangerColor;
  }

  &ThemeOne {
    background-color: $themeOne;
  }

  &ThemeTwo {
    background-color: $themeTwo;
  }

  &ThemeThree {
    background-color: $themeThree;
  }

  &ThemeFour {
    background-color: $themeFour;
  }
}
