.required::after {
  content: '*';
  color: red;
}

.mainInputContainer {
  width: 100%;
  margin-bottom: 2rem;
}

%label {
  color: $appGrayDarkColor;
  font-size: 14px;

  &Container {
    margin-left: 4px;
  }
}

.labelForInput {
  @extend %label;

  &Container {
    margin-bottom: 4px;
    font-size: 12px;
    color: $appGrayDarkColor;
  }
}

.labelForCheckBoxField {
  @extend %label;
  color: $appGrayDarkColor;
  font-size: 12px;
  // &Container {
  //   margin-bottom: 16px;
  // }
}

.labelForCheckBox {
  @extend %label;

  &Container {
    margin-bottom: 16px;
  }
}

.labelForRadioButton {
  @extend %label;

  &Container {
    margin-bottom: 16px;
  }
}

%inputField {
  // border: none;
  border-color: #ccc !important;
  // box-shadow: $boxShadow1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 8px 1rem;
  border: solid 1px #ccc;

  &:focus {
    border: solid 1px $themeOne !important;
    // background-color: $focusBgColor;
  }

  &Container {
    position: relative;
  }

  &::placeholder {
    font-size: 12px;
    color: grey;
  }
}

.input {
  &Field {
    @extend %inputField;
    width: 100%;
    padding: 8px 1rem;
    height: 40px;
    background-color: $inputBgColor;

    &Container {
      position: relative;
    }
  }

  &WithIcon {
    padding-left: 1.5rem !important;
  }

  &ErrorMessage {
    display: none;
    position: absolute;
    top: 100%;
    left: 8px;
    font-size: 10px;
    color: red;

    &IsActive {
      display: block;
    }
  }
}

.textAreaField {
  @extend %inputField;
  width: 100%;
  padding: 8px 1rem;
  height: 80px;
  min-height: 40px;
  max-height: 160px;
  min-width: 100%;
  max-width: 100%;
}

.mainCheckBoxContainer {
  margin-bottom: 2rem;
}

.chechBoxField {
  width: 20px;
  height: 20px;
  border: solid 1px silver;
  border-radius: 5px;
}

.radioButtonField {
  @extend %inputField;
}
