.hover-text-primary:hover {
  color: $primaryColor;
}

.hover-text-faded:hover {
  color: $fadedColor;
}

.hover-text-info:hover {
  color: $infoColor;
}

.hover-text-inverse:hover {
  color: $inverseColor;
}

.hover-text-success:hover {
  color: $successColor;
}

.hover-text-warning:hover {
  color: $warningColor;
}

.hover-text-danger:hover {
  color: $dangerColor;
}

.hover-text-themeOne:hover {
  color: $themeOne;
}

.hover-text-themeTwo:hover {
  color: $themeTwo;
}

.hover-text-themeThree:hover {
  color: $themeThree;
}

.hover-text-themeFour:hover {
  color: $themeFour;
}

.hover-bg-primary:hover {
  background-color: $primaryColor;
}

.hover-bg-faded:hover {
  background-color: $fadedColor;
}

.hover-bg-info:hover {
  background-color: $infoColor;
}

.hover-bg-inverse:hover {
  background-color: $inverseColor;
}

.hover-bg-danger:hover {
  background-color: $dangerColor;
}

.hover-bg-success:hover {
  background-color: $successColor;
}

.hover-bg-warning:hover {
  background-color: $warningColor;
}

.hover-bg-themeOne:hover {
  background-color: $themeOne;
}

.hover-bg-themeTwo:hover {
  background-color: $themeTwo;
}

.hover-bg-themeThree:hover {
  background-color: $themeThree;
}

.hover-bg-themeFour:hover {
  background-color: $themeFour;
}
