.SelectMainClickableZIndex {
  z-index: 10;
  // z-index: -1;
  // cursor: pointer;
}

.SelectOptionsContainerZIndex {
  // z-index: auto;
  z-index: 100;
}

.AlertContainerZIndex {
  z-index: 1000;
}

.ModalMainClickableZIndex {
  z-index: 10;
}

.ModalContainerZIndex {
  z-index: 100000000;
}

.LoadingZIndex {
  z-index: 10000;
}

.ImagePickerCropperContainerZIndex {
  z-index: 1000;
}

.ImagePickerCanvasContainerZIndex {
  z-index: -10;
}

.HeaderMobNavContainerZIndex {
  z-index: 100000;
}

.AllPageClickableZIndex {
  z-index: 10000;
}

.headerZIndex {
  z-index: 10000;
}

.headerBgZIndex {
  z-index: 1000;
}

.loadingZIndex {
  z-index: 1000000000;
}
