@import '@/styles/base/_variables';
@import '@/styles/base/mixins';

.circle {
  &Outer {
    width: 200px;
    height: 200px;
    background-color: rgb(240, 211, 82);
  }

  &Middle {
    background-color: rgb(225, 159, 67);
  }

  &Inner {
    background-color: $themeOne;
  }
}

.text {
  &Container {
    background-color: rgb(158, 158, 207);
  }
}
