.iswad_navItem,
.iswad_subNavItem {
  color: white;
  display: block;
  &:hover {
    border-color: $themeFour;
    border-bottom: 3px solid $themeFour;
  }
  &_active {
    border-bottom: 3px solid $themeFour;
    color: $themeFour !important;
  }
}

.iswad_subNavContainer {
  width: 100%;
  display: none;

  &_active {
    display: block;
  }
}
