.iswad_table {
  // border: solid 1px;
  border-radius: 10px;

  &_headContainer {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
  }

  &_search {
    padding: 2px 8px;
    width: 150px;
  }
}

%oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iswad_th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  @extend %oneLine;
  background-color: white;
}

.iswad_tr {
  & .iswad_td {
    font-size: 12px;
    border: none;
  }

  &:nth-child(odd) {
    background-color: white;
  }

  &:nth-child(even) {
    background-color: $appBrightOrangeColor;
  }

  &:last-child {
    & .iswad_td {
      border-bottom: none;
    }
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.iswad_td {
  display: flex;
  // justify-content: center;
  align-items: center;
  // border-right: solid 1px black;
  padding: 8px;
  border-bottom: solid 0.2px $inverseColor;

  &:last-child {
    border-right: none;
  }
}
