.iswad_table {
  // border: solid 1px;
  border-radius: 10px;

  &_headContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_search {
    padding: 2px 8px;
    width: 150px;
  }
}

.iswad_th {
  font-weight: bold;
  background-color: orange;
}

.iswad_tr {
  & .iswad_td {
    border-bottom: solid 1px;
  }

  &:nth-child(odd) {
    background-color: dodgerblue;
  }
  &:nth-child(even) {
    background-color: darkgoldenrod;
  }
  &:last-child {
    & .iswad_td {
      border-bottom: none;
    }
  }
}

.iswad_td {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-right: solid 1px black;
  padding: 8px 0;
  border-bottom: solid 1px;

  &:last-child {
    border-right: none;
  }
}
