@import '@/styles/base/_variables';

.select {
  width: 100%;
  border: none;
  height: 40px;
}

.defaultSelect {
  // box-shadow: $boxShadow1;
  // border: solid 1px $appGrayBrightColor;
  height: 40px;
  border-radius: 4px;
}

.optionsContainer {
  // box-shadow: $boxShadow1;
  border: solid 1px $themeOne;
  border-radius: 5px;
  width: 100%;
  // padding: 1rem;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
}

.option {
  padding: 7px;
  cursor: pointer;

  &:hover {
    background-color: $themeFive;
    border-radius: 5px;
  }
}

.searchInput {
  outline: none;
  box-shadow: $boxShadow1;
  border: solid 1px $themeOne !important;
  padding: 0.65rem;
  z-index: 100;
}

.placeHolder {
  font-size: 14px;
  color: $appGrayDarkColor;
}
