@import '@/styles/base/_variables';

.headerContainer {
  height: $HeaderHeight;
}

.activeDesktopNavItem {
  background-color: blue;
  box-shadow: $boxShadow1;
}

.activeMobileNavItem {
  background-color: blue;
  box-shadow: $boxShadow1;
}
