@import '@/styles/base/_variables';

.headerContainer {
  height: $HeaderHeight;
}

.desktopNavItem {
  &:hover {
    border-bottom: solid 1px $themeFive;
  }
}

.activeDesktopNavItem {
  color: $themeFive;
}
.activeMobileNavItem {
  background-color: $themeOne !important;
}
